@charset "UTF-8";

@use "abstracts/colors";

@use "abstracts/fonts";

@use "abstracts/mixins";

@use "base/codeblocks";
@use "base/links";
@use "base/typography";

@use "components/lines";

@use "layouts/input-and-buttons";
@use "layouts/settings";
@use "layouts/sidebar";
@use "layouts/tabs";
@use "layouts/titlebar";

@use "vendors/plugins";

/* stylelint-disable property-no-vendor-prefix */
:root {
    --default-font: "Vollkorn", -apple-system, blinkmacsystemfont, "Segoe UI", "Microsoft YaHei Light", sans-serif;
    --font-monospace: "Mononoki Nerd Font Mono", sfmono-regular, consolas, "Roboto Mono", monospace;
    --not-editor: "Public Sans", "Gill Sans", -apple-system, blinkmacsystemfont, "Segoe UI", "Microsoft YaHei Light", sans-serif;
    --preview-font: var(--default-font);
    --editor-font: var(--default-font);
    --header-font-pre: var(--preview-font);
    --header-font-ed: var(--editor-font);
    --mermaid-font: var(--font-monospace);
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.6rem;
    --h3-font-size: 1.3rem;
    --large-font-size: 1.2rem;
    --normal-font-size: 1.2rem;
    --medium-font-size: 1rem;
    --small-font-size: 0.875rem;
    --titlebar-height: 28px;
    --line-width: 47rem;
    --max-width: 97%;
    --font-size-notes: 0.875rem;
    --normal-weight: 400;
    --bold-weight: 600;
}

.theme-dark {
    --background-primary: hsl(240deg 21% 15%);
    --background-primary-alt: hsl(249deg 23% 12%);
    --background-secondary: hsl(240deg 21% 15%);
    --background-secondary-alt: hsl(249deg 23% 12%);
    --background-modifier-border: hsl(249deg 23% 12%);
    --background-modifier-form-field: hsl(235deg 17% 29% 30%);
    --background-modifier-form-field-highlighted: hsl(235deg 17% 29% 30%);
    --background-modifier-box-shadow: hsl(235deg 17% 29% 30%);
    --background-modifier-success: hsl(128deg 58% 79%);
    --background-modifier-error: hsl(342deg 79% 75%);
    --background-modifier-error-rgb: 226 140 140;
    --background-modifier-error-hover: hsl(342deg 79% 60%);
    --background-modifier-cover: rgb(0 0 0 80%);
    --text-accent: hsl(128deg 58% 79%);
    --text-accent-hover: hsl(128deg 58% 79%);
    --text-normal: hsl(220deg 38% 89%);
    --text-normal-transparent: hsl(220deg 38% 89% / 60%);
    --text-muted: hsl(285deg 10% 75%);
    --text-muted-rgb: 195, 186, 198;
    --text-faint: hsl(274deg 11% 59%);
    --text-error: hsl(342deg 79% 75%);
    --text-error-hover: hsl(342deg 79% 60%);
    --text-highlight-bg: hsl(41deg 88% 84%);
    --text-highlight-bg-active: hsl(223.2deg 70.1% 79%);
    --text-selection: hsl(254deg 12% 36%);
    --text-on-accent: hsl(254deg 25% 10%);
    --interactive-normal: hsl(171deg 53% 81%);
    --interactive-hover: hsl(171deg 53% 81%);
    --interactive-accent: hsl(128deg 58% 79%);
    --interactive-accent-rgb: 171, 233, 179;
    --interactive-accent-hover: hsl(128deg 58% 79%);
    --interactive-success: hsl(128deg 58% 79%);
    --scrollbar-active-thumb-bg: rgb(255 255 255 / 20%);
    --scrollbar-bg: rgb(255 255 255 / 5%);
    --scrollbar-thumb-bg: rgb(255 255 255 / 10%);
    --code-blocks: hsl(10deg 56% 91%);
    --border: hsl(249deg 18% 22%);
    --border-inset: hsl(254deg 12% 36%);
    --active-interaction: hsl(316deg 72% 86%);
    --highlight-mix-blend-mode: lighten;
    --internal-buttons: hsl(24deg 88% 78%);
    --text-selection-opaque: hsl(238deg 100% 89%);
    --rosewater: hsl(10deg 56% 91%);
    --maroon: hsl(349deg 60% 77%);
    --pink: hsl(316deg 72% 86%);
    --lavender: hsl(220deg 38% 89%);
    --black-0: hsl(254deg 25% 10%);
    --black-1: hsl(249deg 23% 12%);
    --black-2: hsl(240deg 21% 15%);
    --black-3: hsl(249deg 18% 22%);
    --black-4: hsl(254deg 12% 36%);
}

.theme-light {
    --background-primary: hsl(240deg 14% 14%);
    --background-primary-alt: hsl(249deg 23% 12%);
    --background-secondary: hsl(240deg 14% 14%);
    --background-secondary-alt: hsl(249deg 23% 12%);
    --background-modifier-border: hsl(249deg 23% 12%);
    --background-modifier-form-field: hsl(235deg 17% 29% 30%);
    --background-modifier-form-field-highlighted: hsl(235deg 17% 29% 30%);
    --background-modifier-box-shadow: hsl(235deg 17% 29% 30%);
    --background-modifier-success: hsl(128deg 58% 79%);
    --background-modifier-error: hsl(0deg 59.7% 71.8%);
    --background-modifier-error-rgb: 226 140 140;
    --background-modifier-error-hover: hsl(0deg 59.7% 60%);
    --background-modifier-cover: rgb(0 0 0 80%);
    --text-accent: hsl(128deg 58% 79%);
    --text-accent-hover: hsl(128deg 58% 79%);
    --text-normal: hsl(220deg 13% 86%);
    --text-normal-transparent: hsl(220deg 13% 86% / 60%);
    --text-muted: hsl(220deg 13% 78%);
    --text-muted-rgb: 101, 123, 131;
    --text-faint: hsl(220deg 13% 70%);
    --text-error: hsl(0deg 59.7% 71.8%);
    --text-error-hover: hsl(0deg 59.7% 60%);
    --text-highlight-bg: hsl(49.5deg 63.8% 77.3%);
    --text-highlight-bg-active: hsl(223.2deg 70.1% 79%);
    --text-selection: hsl(248deg 7% 45%);
    --text-on-accent: hsl(254deg 25% 10%);
    --interactive-normal: hsl(171deg 53% 81%);
    --interactive-hover: hsl(171deg 53% 81%);
    --interactive-accent: hsl(128deg 58% 79%);
    --interactive-accent-rgb: 179, 225, 163;
    --interactive-accent-hover: hsl(128deg 58% 79%);
    --interactive-success: hsl(128deg 58% 79%);
    --scrollbar-active-thumb-bg: rgb(255 255 255 / 20%);
    --scrollbar-bg: rgb(255 255 255 / 5%);
    --scrollbar-thumb-bg: rgb(255 255 255 / 10%);
    --code-blocks: hsl(2.6deg 55.3% 83.3%);
    --border: hsl(240deg 14% 14%);
    --border-inset: hsl(253deg 18% 20%);
    --active-interaction: hsl(26.6deg 85.8% 77.8%);
    --highlight-mix-blend-mode: lighten;
    --internal-buttons: hsl(279deg 70% 83%);
    --text-selection-opaque: hsl(223.2deg 70.1% 79%);
    --black-0: hsl(254deg 25% 10%);
    --lavender: hsl(238deg 100% 89%);
    --rosewater: hsl(10deg 56% 91%);
    --maroon: hsl(341deg 57% 75%);
}
