/* Better Command Palette */
/* Fixes highlight error */

.better-command-palette .suggestion-item.mod-complex.is-selected .suggestion-note {
  color: var(--text-on-accent);
}

.better-command-palette .better-command-palette-title {
  margin: 10px;
  padding-left: 14px;
}
