@charset "UTF-8";
/*
* Converts colors to raw rgb
* Source: https://github.com/ghostdevv/sass-hex-rgb
*/
/*
* Generates the Catppuccin palette and sets 'Mocha' and 'Latte' as
* dark and light defaults, respectively.
*/
.theme-dark.ctp-mocha, .theme-dark {
  --ctp-rosewater: #f5e0dc;
  --ctp-rosewater-rgb: 245, 224, 220;
  --ctp-flamingo: #f2cdcd;
  --ctp-flamingo-rgb: 242, 205, 205;
  --ctp-pink: #f5c2e7;
  --ctp-pink-rgb: 245, 194, 231;
  --ctp-mauve: #cba6f7;
  --ctp-mauve-rgb: 203, 166, 247;
  --ctp-red: #f38ba8;
  --ctp-red-rgb: 243, 139, 168;
  --ctp-maroon: #eba0ac;
  --ctp-maroon-rgb: 235, 160, 172;
  --ctp-peach: #fab387;
  --ctp-peach-rgb: 250, 179, 135;
  --ctp-yellow: #f9e2af;
  --ctp-yellow-rgb: 249, 226, 175;
  --ctp-green: #a6e3a1;
  --ctp-green-rgb: 166, 227, 161;
  --ctp-teal: #94e2d5;
  --ctp-teal-rgb: 148, 226, 213;
  --ctp-sky: #89dceb;
  --ctp-sky-rgb: 137, 220, 235;
  --ctp-sapphire: #74c7ec;
  --ctp-sapphire-rgb: 116, 199, 236;
  --ctp-blue: #89b4fa;
  --ctp-blue-rgb: 137, 180, 250;
  --ctp-lavender: #b4befe;
  --ctp-lavender-rgb: 180, 190, 254;
  --ctp-text: #cdd6f4;
  --ctp-text-rgb: 205, 214, 244;
  --ctp-subtext1: #bac2de;
  --ctp-subtext1-rgb: 186, 194, 222;
  --ctp-subtext0: #a6adc8;
  --ctp-subtext0-rgb: 166, 173, 200;
  --ctp-overlay2: #9399b2;
  --ctp-overlay2-rgb: 147, 153, 178;
  --ctp-overlay1: #7f849c;
  --ctp-overlay1-rgb: 127, 132, 156;
  --ctp-overlay0: #6c7086;
  --ctp-overlay0-rgb: 108, 112, 134;
  --ctp-surface2: #585b70;
  --ctp-surface2-rgb: 88, 91, 112;
  --ctp-surface1: #45475a;
  --ctp-surface1-rgb: 69, 71, 90;
  --ctp-surface0: #313244;
  --ctp-surface0-rgb: 49, 50, 68;
  --ctp-base: #1e1e2e;
  --ctp-base-rgb: 30, 30, 46;
  --ctp-mantle: #181825;
  --ctp-mantle-rgb: 24, 24, 37;
  --ctp-crust: #11111b;
  --ctp-crust-rgb: 17, 17, 27;
}

.theme-dark {
  --ctp-accent: #b4befe;
  --ctp-accent-h: 232deg;
  --ctp-accent-s: 97%;
  --ctp-accent-l: 85%;
  --ctp-accent-green: #a6e3a1;
  --ctp-accent-green-h: 115deg;
  --ctp-accent-green-s: 54%;
  --ctp-accent-green-l: 76%;
  --ctp-accent-mauve: #cba6f7;
  --ctp-accent-mauve-h: 267deg;
  --ctp-accent-mauve-s: 84%;
  --ctp-accent-mauve-l: 81%;
  --ctp-accent-pink: #f5c2e7;
  --ctp-accent-pink-h: 316deg;
  --ctp-accent-pink-s: 72%;
  --ctp-accent-pink-l: 86%;
}

.theme-dark.ctp-macchiato {
  --ctp-rosewater: #f4dbd6;
  --ctp-rosewater-rgb: 244, 219, 214;
  --ctp-flamingo: #f0c6c6;
  --ctp-flamingo-rgb: 240, 198, 198;
  --ctp-pink: #f5bde6;
  --ctp-pink-rgb: 245, 189, 230;
  --ctp-mauve: #c6a0f6;
  --ctp-mauve-rgb: 198, 160, 246;
  --ctp-red: #ed8796;
  --ctp-red-rgb: 237, 135, 150;
  --ctp-maroon: #ee99a0;
  --ctp-maroon-rgb: 238, 153, 160;
  --ctp-peach: #f5a97f;
  --ctp-peach-rgb: 245, 169, 127;
  --ctp-yellow: #eed49f;
  --ctp-yellow-rgb: 238, 212, 159;
  --ctp-green: #a6da95;
  --ctp-green-rgb: 166, 218, 149;
  --ctp-teal: #8bd5ca;
  --ctp-teal-rgb: 139, 213, 202;
  --ctp-sky: #91d7e3;
  --ctp-sky-rgb: 145, 215, 227;
  --ctp-sapphire: #7dc4e4;
  --ctp-sapphire-rgb: 125, 196, 228;
  --ctp-blue: #8aadf4;
  --ctp-blue-rgb: 138, 173, 244;
  --ctp-lavender: #b7bdf8;
  --ctp-lavender-rgb: 183, 189, 248;
  --ctp-text: #cad3f5;
  --ctp-text-rgb: 202, 211, 245;
  --ctp-subtext1: #b8c0e0;
  --ctp-subtext1-rgb: 184, 192, 224;
  --ctp-subtext0: #a5adcb;
  --ctp-subtext0-rgb: 165, 173, 203;
  --ctp-overlay2: #939ab7;
  --ctp-overlay2-rgb: 147, 154, 183;
  --ctp-overlay1: #8087a2;
  --ctp-overlay1-rgb: 128, 135, 162;
  --ctp-overlay0: #6e738d;
  --ctp-overlay0-rgb: 110, 115, 141;
  --ctp-surface2: #5b6078;
  --ctp-surface2-rgb: 91, 96, 120;
  --ctp-surface1: #494d64;
  --ctp-surface1-rgb: 73, 77, 100;
  --ctp-surface0: #363a4f;
  --ctp-surface0-rgb: 54, 58, 79;
  --ctp-base: #24273a;
  --ctp-base-rgb: 36, 39, 58;
  --ctp-mantle: #1e2030;
  --ctp-mantle-rgb: 30, 32, 48;
  --ctp-crust: #181926;
  --ctp-crust-rgb: 24, 25, 38;
}

.theme-dark.ctp-frappe {
  --ctp-rosewater: #f2d5cf;
  --ctp-rosewater-rgb: 242, 213, 207;
  --ctp-flamingo: #eebebe;
  --ctp-flamingo-rgb: 238, 190, 190;
  --ctp-pink: #f4b8e4;
  --ctp-pink-rgb: 244, 184, 228;
  --ctp-mauve: #ca9ee6;
  --ctp-mauve-rgb: 202, 158, 230;
  --ctp-red: #e78284;
  --ctp-red-rgb: 231, 130, 132;
  --ctp-maroon: #ea999c;
  --ctp-maroon-rgb: 234, 153, 156;
  --ctp-peach: #ef9f76;
  --ctp-peach-rgb: 239, 159, 118;
  --ctp-yellow: #e5c890;
  --ctp-yellow-rgb: 229, 200, 144;
  --ctp-green: #a6d189;
  --ctp-green-rgb: 166, 209, 137;
  --ctp-teal: #81c8be;
  --ctp-teal-rgb: 129, 200, 190;
  --ctp-sky: #99d1db;
  --ctp-sky-rgb: 153, 209, 219;
  --ctp-sapphire: #85c1dc;
  --ctp-sapphire-rgb: 133, 193, 220;
  --ctp-blue: #8caaee;
  --ctp-blue-rgb: 140, 170, 238;
  --ctp-lavender: #babbf1;
  --ctp-lavender-rgb: 186, 187, 241;
  --ctp-text: #c6d0f5;
  --ctp-text-rgb: 198, 208, 245;
  --ctp-subtext1: #b5bfe2;
  --ctp-subtext1-rgb: 181, 191, 226;
  --ctp-subtext0: #a5adce;
  --ctp-subtext0-rgb: 165, 173, 206;
  --ctp-overlay2: #949cbb;
  --ctp-overlay2-rgb: 148, 156, 187;
  --ctp-overlay1: #838ba7;
  --ctp-overlay1-rgb: 131, 139, 167;
  --ctp-overlay0: #737994;
  --ctp-overlay0-rgb: 115, 121, 148;
  --ctp-surface2: #626880;
  --ctp-surface2-rgb: 98, 104, 128;
  --ctp-surface1: #51576d;
  --ctp-surface1-rgb: 81, 87, 109;
  --ctp-surface0: #414559;
  --ctp-surface0-rgb: 65, 69, 89;
  --ctp-base: #303446;
  --ctp-base-rgb: 48, 52, 70;
  --ctp-mantle: #292c3c;
  --ctp-mantle-rgb: 41, 44, 60;
  --ctp-crust: #232634;
  --ctp-crust-rgb: 35, 38, 52;
}

.ctp-rosewater {
  --ctp-accent: #f5e0dc;
  --ctp-accent-h: 10deg;
  --ctp-accent-s: 56%;
  --ctp-accent-l: 91%;
}

.ctp-flamingo {
  --ctp-accent: #f2cdcd;
  --ctp-accent-h: 0deg;
  --ctp-accent-s: 59%;
  --ctp-accent-l: 88%;
}

.ctp-pink {
  --ctp-accent: #f5c2e7;
  --ctp-accent-h: 316deg;
  --ctp-accent-s: 72%;
  --ctp-accent-l: 86%;
}

.ctp-mauve {
  --ctp-accent: #cba6f7;
  --ctp-accent-h: 267deg;
  --ctp-accent-s: 84%;
  --ctp-accent-l: 81%;
}

.ctp-red {
  --ctp-accent: #f38ba8;
  --ctp-accent-h: 343deg;
  --ctp-accent-s: 81%;
  --ctp-accent-l: 75%;
}

.ctp-maroon {
  --ctp-accent: #eba0ac;
  --ctp-accent-h: 350deg;
  --ctp-accent-s: 65%;
  --ctp-accent-l: 77%;
}

.ctp-peach {
  --ctp-accent: #fab387;
  --ctp-accent-h: 23deg;
  --ctp-accent-s: 92%;
  --ctp-accent-l: 75%;
}

.ctp-yellow {
  --ctp-accent: #f9e2af;
  --ctp-accent-h: 41deg;
  --ctp-accent-s: 86%;
  --ctp-accent-l: 83%;
}

.ctp-green {
  --ctp-accent: #a6e3a1;
  --ctp-accent-h: 115deg;
  --ctp-accent-s: 54%;
  --ctp-accent-l: 76%;
}

.ctp-teal {
  --ctp-accent: #94e2d5;
  --ctp-accent-h: 170deg;
  --ctp-accent-s: 57%;
  --ctp-accent-l: 73%;
}

.ctp-sky {
  --ctp-accent: #89dceb;
  --ctp-accent-h: 189deg;
  --ctp-accent-s: 71%;
  --ctp-accent-l: 73%;
}

.ctp-sapphire {
  --ctp-accent: #74c7ec;
  --ctp-accent-h: 199deg;
  --ctp-accent-s: 76%;
  --ctp-accent-l: 69%;
}

.ctp-blue {
  --ctp-accent: #89b4fa;
  --ctp-accent-h: 217deg;
  --ctp-accent-s: 92%;
  --ctp-accent-l: 76%;
}

.ctp-lavender {
  --ctp-accent: #b4befe;
  --ctp-accent-h: 232deg;
  --ctp-accent-s: 97%;
  --ctp-accent-l: 85%;
}

/*
*Obsidian theme variables
*/
body {
  /* Animations */
  --anim-duration-none: 0;
  --anim-duration-superfast: 70ms;
  --anim-duration-fast: 140ms;
  --anim-duration-moderate: 300ms;
  --anim-duration-slow: 560ms;
  --anim-motion-smooth: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  --anim-motion-delay: cubic-bezier(0.65, 0.05, 0.36, 1);
  --anim-motion-jumpy: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --anim-motion-swing: cubic-bezier(0, 0.55, 0.45, 1);
  /* Blockquotes */
  --blockquote-border-thickness: 2px;
  --blockquote-border-color: var(--interactive-accent);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: transparent;
  /* Bold */
  --bold-weight: var(--font-semibold);
  --bold-color: var(--color-green);
  /* Borders */
  --border-width: 1px;
  /* Buttons */
  --button-radius: var(--input-radius);
  /* Callouts */
  --callout-border-width: 1px;
  --callout-border-opacity: 0.25;
  --callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
  --callout-radius: var(--radius-m);
  --callout-blend-mode: var(--highlight-mix-blend-mode);
  --callout-title-color: inherit;
  --callout-title-padding: 0;
  --callout-title-size: inherit;
  --callout-content-padding: 0;
  --callout-content-background: transparent;
  --callout-bug: var(--color-red-rgb);
  --callout-default: var(--color-blue-rgb);
  --callout-error: var(--color-red-rgb);
  --callout-example: var(--color-purple-rgb);
  --callout-fail: var(--color-red-rgb);
  --callout-important: var(--color-cyan-rgb);
  --callout-info: var(--color-blue-rgb);
  --callout-question: var(--color-yellow-rgb);
  --callout-success: var(--color-green-rgb);
  --callout-summary: var(--color-cyan-rgb);
  --callout-tip: var(--color-cyan-rgb);
  --callout-todo: var(--color-blue-rgb);
  --callout-warning: var(--color-orange-rgb);
  --callout-quote: var(--ctp-overlay1-rgb);
  /* Canvas */
  --canvas-background: var(--background-primary);
  --canvas-card-label-color: var(--text-faint);
  --canvas-color-1: var(--color-red-rgb);
  --canvas-color-2: var(--color-orange-rgb);
  --canvas-color-3: var(--color-yellow-rgb);
  --canvas-color-4: var(--color-green-rgb);
  --canvas-color-5: var(--color-cyan-rgb);
  --canvas-color-6: var(--color-purple-rgb);
  --canvas-dot-pattern: var(--color-base-30);
  /* Checkboxes */
  --checkbox-radius: var(--radius-m);
  --checkbox-size: var(--font-text-size);
  --checkbox-marker-color: var(--background-secondary);
  --checkbox-color: var(--color-green);
  --checkbox-color-hover: var(--color-yellow);
  --checkbox-border-color: var(--interactive-accent);
  --checkbox-border-color-hover: var(--color-yellow);
  --checklist-done-decoration: line-through;
  --checklist-done-color: var(--text-muted);
  /* Code */
  --code-white-space: pre-wrap;
  --code-radius: var(--radius-m);
  --code-size: var(--font-smaller);
  --code-background: var(--background-primary-alt);
  --code-normal: var(--text-muted);
  --code-comment: var(--text-faint);
  --code-function: var(--color-yellow);
  --code-important: var(--color-orange);
  --code-keyword: var(--color-pink);
  --code-operator: var(--color-red);
  --code-property: var(--color-cyan);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-green);
  --code-tag: var(--color-red);
  --code-value: var(--color-purple);
  /* Collapse icons */
  --collapse-icon-color: var(--text-faint);
  --collapse-icon-color-collapsed: var(--text-faint);
  /* Cursor */
  --cursor: default;
  --cursor-link: pointer;
  /* Dialogs - e.g. small modals, confirmations */
  --dialog-width: 560px;
  --dialog-max-width: 80vw;
  --dialog-max-height: 85vh;
  /* Dividers â€” between panes */
  --divider-color: var(--background-modifier-border);
  --divider-color-hover: var(--interactive-accent);
  --divider-width: 1px;
  --divider-width-hover: 2px;
  --divider-vertical-height: calc(100% - var(--header-height));
  /* Dragging */
  --drag-ghost-background: rgba(var(--mono-rgb-0), 1);
  --drag-ghost-text-color: var(--ctp-rosewater);
  /* Embeds */
  --embed-max-height: 4000px;
  --embed-canvas-max-height: 400px;
  --embed-background: inherit;
  --embed-border-left: 2px solid var(--interactive-accent);
  --embed-border-right: none;
  --embed-border-top: none;
  --embed-border-bottom: none;
  --embed-padding: 0 0 0 var(--size-4-6);
  --embed-font-style: inherit;
  /* Blocks */
  --embed-block-shadow-hover:
    var(--mono-rgb-0) 1px var(--background-modifier-border),
    inset var(--mono-rgb-0) 1px var(--background-modifier-border);
  /* File layout */
  --file-line-width: 700px;
  --file-folding-offset: 24px;
  --file-margins: var(--size-4-8);
  --file-header-font-size: var(--font-ui-small);
  --file-header-font-weight: var(--font-bold);
  --file-header-border: var(--border-width) solid transparent;
  --file-header-justify: center;
  /* Relative font sizes */
  --font-smallest: 0.8em;
  --font-smaller: 0.875em;
  --font-small: 0.933em;
  /* UI font sizes */
  --font-ui-smaller: 12px;
  --font-ui-small: 13px;
  --font-ui-medium: 15px;
  --font-ui-large: 20px;
  /* Font weights */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  /* Footnotes */
  --footnote-size: var(--font-smaller);
  /* Graphs */
  --graph-controls-width: 240px;
  --graph-text: var(--text-normal);
  --graph-line: var(--color-base-35, var(--background-modifier-border-focus));
  --graph-node: var(--text-muted);
  --graph-node-unresolved: var(--text-faint);
  --graph-node-focused: var(--text-accent);
  --graph-node-tag: var(--color-green);
  --graph-node-attachment: var(--color-yellow);
  /* Headings */
  --heading-formatting: var(--text-faint);
  --heading-spacing: calc(var(--p-spacing) * 2.5);
  --h1-color: var(--text-accent);
  --h2-color: var(--color-cyan);
  --h3-color: var(--color-purple);
  --h4-color: var(--ctp-maroon);
  --h5-color: var(--color-yellow);
  --h6-color: var(--color-orange);
  --h1-font: inherit;
  --h2-font: inherit;
  --h3-font: inherit;
  --h4-font: inherit;
  --h5-font: inherit;
  --h6-font: inherit;
  --h1-line-height: 1.2;
  --h2-line-height: 1.2;
  --h3-line-height: 1.3;
  --h4-line-height: 1.4;
  --h5-line-height: var(--line-height-normal);
  --h6-line-height: var(--line-height-normal);
  --h1-size: 1.802em;
  --h2-size: 1.602em;
  --h3-size: 1.424em;
  --h4-size: 1.266em;
  --h5-size: 1.125em;
  --h6-size: 1em;
  --h1-style: normal;
  --h2-style: normal;
  --h3-style: normal;
  --h4-style: normal;
  --h5-style: normal;
  --h6-style: normal;
  --h1-variant: normal;
  --h2-variant: normal;
  --h3-variant: normal;
  --h4-variant: normal;
  --h5-variant: normal;
  --h6-variant: normal;
  --h1-weight: 700;
  --h2-weight: 600;
  --h3-weight: 600;
  --h4-weight: 600;
  --h5-weight: 600;
  --h6-weight: 600;
  /* View header */
  --header-height: 40px;
  /* Horizontal rules */
  --hr-color: var(--background-modifier-border);
  --hr-thickness: 2px;
  /* Icons */
  --icon-size: var(--icon-m);
  --icon-stroke: var(--icon-m-stroke-width);
  --icon-xs: 14px;
  --icon-s: 16px;
  --icon-m: 18px;
  --icon-l: 18px;
  --icon-xl: 32px;
  --icon-xs-stroke-width: 2px;
  --icon-s-stroke-width: 2px;
  --icon-m-stroke-width: 1.75px;
  --icon-l-stroke-width: 1.75px;
  --icon-xl-stroke-width: 1.25px;
  --icon-color: var(--text-muted);
  --icon-color-hover: var(--text-accent);
  --icon-color-active: var(--color-purple);
  --icon-color-focused: var(--color-purple);
  --icon-opacity: 0.85;
  --icon-opacity-hover: 1;
  --icon-opacity-active: 1;
  --clickable-icon-radius: var(--radius-s);
  /* Indentation guide */
  --indentation-guide-width: 1px;
  --indentation-guide-width-active: 1px;
  --indentation-guide-color: rgba(var(--mono-rgb-100), 0.12);
  --indentation-guide-color-active: rgba(var(--mono-rgb-100), 0.3);
  /* Inline title */
  --inline-title-color: var(--h1-color);
  --inline-title-font: var(--h1-font);
  --inline-title-line-height: var(--h1-line-height);
  --inline-title-size: var(--h1-size);
  --inline-title-style: var(--h1-style);
  --inline-title-variant: var(--h1-variant);
  --inline-title-weight: var(--h1-weight);
  --inline-title-margin-bottom: 0.5em;
  /* Inputs */
  --input-height: 30px;
  --input-radius: var(--radius-m);
  --input-font-weight: var(--font-normal);
  --input-border-width: 1px;
  /* Italic */
  --italic-color: var(--ctp-rosewater);
  --italic-weight: inherit;
  /* Z-index */
  --layer-cover: 5;
  --layer-sidedock: 10;
  --layer-status-bar: 15;
  --layer-popover: 30;
  --layer-slides: 45;
  --layer-modal: 50;
  --layer-notice: 60;
  --layer-menu: 65;
  --layer-tooltip: 70;
  --layer-dragged-item: 80;
  /* Line heights */
  --line-height-normal: 1.45;
  --line-height-tight: 1.3;
  /* Links */
  --link-color: var(--text-accent);
  --link-color-hover: var(--text-accent);
  --link-decoration: none;
  --link-decoration-hover: underline;
  --link-decoration-thickness: 1px;
  --link-external-color: var(--color-blue);
  --link-external-color-hover: var(--color-blue);
  --link-external-decoration: none;
  --link-external-decoration-hover: underline;
  --link-external-filter: none;
  --link-unresolved-color: var(--text-muted);
  --link-unresolved-opacity: 0.7;
  --link-unresolved-filter: none;
  --link-unresolved-decoration-style: solid;
  --link-unresolved-decoration-color: rgba(var(--color-red-rgb), 0.7);
  /* Lists */
  --list-indent: 2.16em;
  --list-spacing: 0.27ex;
  --list-marker-color: var(--text-accent);
  --list-marker-color-hover: var(--text-accent);
  --list-marker-color-collapsed: var(--text-accent);
  --list-bullet-border: none;
  --list-bullet-radius: 50%;
  --list-bullet-size: 0.54ex;
  --list-bullet-transform: none;
  --list-numbered-style: decimal;
  /* File navigator */
  --nav-item-size: var(--font-ui-small);
  --nav-item-color: var(--text-muted);
  --nav-item-color-hover: var(--text-accent);
  --nav-item-color-active: var(--text-on-accent);
  --nav-item-color-selected: var(--text-on-accent);
  --nav-item-color-highlighted: var(--text-accent-hover);
  --nav-item-background-hover: var(--background-modifier-hover);
  --nav-item-background-active: var(--interactive-accent-hover);
  --nav-item-background-selected: var(--interactive-accent-hover);
  --nav-item-padding: var(--size-4-1) var(--size-4-2) var(--size-4-1) var(--size-4-6);
  --nav-item-parent-padding: var(--nav-item-padding);
  --nav-item-children-padding-left: var(--size-2-2);
  --nav-item-children-margin-left: var(--size-4-3);
  --nav-item-weight: inherit;
  --nav-item-weight-hover: inherit;
  --nav-item-weight-active: var(--bold-weight);
  --nav-item-white-space: nowrap;
  --nav-indentation-guide-width: var(--indentation-guide-width);
  --nav-indentation-guide-color: var(--indentation-guide-color);
  --nav-collapse-icon-color: var(--collapse-icon-color);
  --nav-collapse-icon-color-collapsed: var(--text-faint);
  /* Metadata */
  --metadata-background: var(--background-secondary);
  --metadata-display-reading: block;
  --metadata-display-editing: block;
  --metadata-max-width: none;
  --metadata-padding: var(--size-4-2);
  --metadata-border-color: var(--background-modifier-border);
  --metadata-border-radius: var(--radius-m);
  --metadata-border-width: 1px;
  --metadata-divider-color: var(--background-modifier-border);
  --metadata-divider-color-hover: transparent;
  --metadata-divider-color-focus: transparent;
  --metadata-divider-width: 0;
  --metadata-gap: 3px;
  --metadata-property-padding: 0;
  --metadata-property-radius: var(--radius-s);
  --metadata-property-background: transparent;
  --metadata-property-background-hover: var(--background-modifier-hover);
  --metadata-property-background-active: var(--background-modifier-hover);
  --metadata-label-background-hover: transparent;
  --metadata-label-background-active: var(--background-modifier-hover);
  --metadata-label-font-size: var(--font-smaller);
  --metadata-label-font-weight: inherit;
  --metadata-label-text-color: var(--text-muted);
  --metadata-label-text-color-hover: var(--text-muted);
  --metadata-label-width: 9em;
  --metadata-input-height: calc(var(--font-text-size) * 1.75);
  --metadata-input-text-color: var(--text-normal);
  --metadata-input-font-size: var(--font-smaller);
  --metadata-input-background: transparent;
  --metadata-input-background-hover: transparent;
  --metadata-input-background-active: var(--background-modifier-hover);
  --metadata-sidebar-label-font-size: var(--font-ui-small);
  --metadata-sidebar-input-font-size: var(--font-ui-small);
  /* Modals - e.g. settings, community themes, community plugins */
  --modal-background: var(--background-primary);
  --modal-width: 90vw;
  --modal-height: 85vh;
  --modal-max-width: 1100px;
  --modal-max-height: 1000px;
  --modal-max-width-narrow: 800px;
  --modal-border-width: var(--border-width);
  --modal-border-color: var(--color-base-40, var(--background-modifier-border-focus));
  --modal-radius: var(--radius-l);
  --modal-community-sidebar-width: 280px;
  /* Multi-select pills
   *NOTE:
   * 2023-09-03
   * These seem to be overwritten by other variables elsewhere in the theme.
   * Maybe not fully implemented yet? Adjustments made elsewhere for now. */
  --pill-color: var(--text-muted);
  --pill-color-hover: var(--text-normal);
  --pill-color-remove: var(--text-faint);
  --pill-color-remove-hover: var(--color-red);
  --pill-decoration: none;
  --pill-decoration-hover: none;
  --pill-background: hsla(var(--interactive-accent-hsl), 0.1);
  --pill-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
  --pill-border-color: var(--background-modifier-border);
  --pill-border-color-hover: var(--background-modifier-border-hover);
  --pill-border-width: var(--border-width);
  --pill-padding-x: 0.65em;
  --pill-padding-y: 0.25em;
  --pill-radius: 2em;
  --pill-weight: inherit;
  /* Paragraphs */
  --p-spacing: 1rem;
  --p-spacing-empty: 0;
  /* PDF view */
  --pdf-background: var(--background-secondary);
  --pdf-page-background: var(--background-secondary);
  --pdf-shadow: 0 0 0 1px rgba(var(--mono-rgb-0), 0.05), 0 2px 8px rgba(var(--mono-rgb-0), 0.1);
  --pdf-spread-shadow: 0 0 0 1px rgba(var(--mono-rgb-0), 0.05);
  --pdf-sidebar-background: var(--background-secondary);
  --pdf-thumbnail-shadow: 0 0 0 1px rgba(var(--mono-rgb-0), 0.15), 0 2px 8px rgba(var(--mono-rgb-0), 0.2);
  /* Popovers - file previews */
  --popover-width: 450px;
  --popover-height: 400px;
  --popover-max-height: 70vh;
  --popover-pdf-width: 600px;
  --popover-pdf-height: 800px;
  --popover-font-size: var(--font-text-size);
  /* Prompts - e.g. quick switcher, command palette */
  --prompt-width: 700px;
  --prompt-max-width: 80vw;
  --prompt-max-height: 70vh;
  --prompt-border-width: var(--border-width);
  --prompt-border-color: var(--color-base-40, var(--background-modifier-border-focus));
  /* Radiuses */
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  /* Ribbon */
  --ribbon-background: var(--background-secondary);
  --ribbon-background-collapsed: var(--background-primary);
  --ribbon-width: 44px;
  --ribbon-padding: var(--size-4-2) var(--size-4-1) var(--size-4-3);
  /* Scrollbars */
  --scrollbar-active-thumb-bg: rgba(var(--mono-rgb-100), 0.2);
  --scrollbar-bg: rgba(var(--mono-rgb-100), 0.05);
  --scrollbar-thumb-bg: rgba(var(--mono-rgb-100), 0.1);
  /* Search */
  --search-clear-button-color: var(--text-muted);
  --search-clear-button-size: 13px;
  --search-icon-color: var(--text-muted);
  --search-icon-size: 18px;
  --search-result-background: var(--background-secondary);
  /* Layout sizing - for padding and margins */
  --size-2-1: 2px;
  --size-2-2: 4px;
  --size-2-3: 6px;
  --size-4-1: 4px;
  --size-4-2: 8px;
  --size-4-3: 12px;
  --size-4-4: 16px;
  --size-4-5: 20px;
  --size-4-6: 24px;
  --size-4-8: 32px;
  --size-4-9: 36px;
  --size-4-12: 48px;
  --size-4-16: 64px;
  --size-4-18: 72px;
  /* Sidebar */
  --sidebar-markdown-font-size: calc(var(--font-text-size) * 0.9);
  --sidebar-tab-text-display: none;
  /* Sliders */
  --slider-thumb-border-width: 1px;
  --slider-thumb-border-color: var(--background-modifier-border-hover);
  --slider-thumb-height: 18px;
  --slider-thumb-width: 18px;
  --slider-thumb-y: -6px;
  --slider-thumb-radius: 50%;
  --slider-s-thumb-size: 15px;
  --slider-s-thumb-position: -5px;
  --slider-track-background: var(--background-modifier-border);
  --slider-track-height: 3px;
  /* Status bar */
  --status-bar-background: var(--background-secondary);
  --status-bar-border-color: var(--divider-color);
  --status-bar-border-width: 1px 0 0 1px;
  --status-bar-font-size: var(--font-ui-smaller);
  --status-bar-text-color: var(--text-muted);
  --status-bar-position: fixed;
  --status-bar-radius: var(--radius-m) 0 0 0;
  --status-bar-scroll-padding: calc(var(--status-bar-font-size) + 18px);
  /* Swatch for color inputs */
  --swatch-radius: 14px;
  --swatch-height: 24px;
  --swatch-width: 24px;
  --swatch-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.15);
  /* Tabs */
  --tab-background-active: var(--background-primary);
  --tab-text-color: var(--text-faint);
  --tab-text-color-active: var(--text-muted);
  --tab-text-color-focused: var(--text-muted);
  --tab-text-color-focused-active: var(--text-muted);
  --tab-text-color-focused-highlighted: var(--text-accent);
  --tab-text-color-focused-active-current: var(--text-normal);
  --tab-font-size: var(--font-ui-small);
  --tab-font-weight: inherit;
  --tab-container-background: var(--background-secondary);
  --tab-divider-color: var(--background-modifier-border-hover);
  --tab-outline-color: var(--divider-color);
  --tab-outline-width: 1px;
  --tab-curve: 6px;
  --tab-radius: var(--radius-s);
  --tab-radius-active: 6px 6px 0 0;
  --tab-width: 200px;
  --tab-max-width: 320px;
  /* Stacked tabs */
  --tab-stacked-pane-width: 700px;
  --tab-stacked-header-width: var(--header-height);
  --tab-stacked-font-size: var(--font-ui-small);
  --tab-stacked-font-weight: 400;
  --tab-stacked-text-align: left;
  --tab-stacked-text-transform: rotate(0deg);
  --tab-stacked-text-writing-mode: vertical-lr;
  --tab-stacked-shadow: -8px 0 8px 0 rgba(var(--mono-rgb-0), 0.05);
  /* Tables */
  --table-background: var(--background-secondary);
  --table-border-width: 1px;
  --table-border-color: var(--background-modifier-border);
  --table-white-space: normal;
  --table-header-background: var(--table-background);
  --table-header-background-hover: inherit;
  --table-header-border-width: var(--table-border-width);
  --table-header-border-color: var(--table-border-color);
  --table-header-font: inherit;
  --table-header-size: var(--font-text-size);
  --table-header-weight: var(--bold-weight);
  --table-header-color: var(--text-normal);
  --table-text-size: inherit;
  --table-text-color: inherit;
  --table-column-max-width: none;
  --table-column-alt-background: var(--table-background);
  --table-column-first-border-width: var(--table-border-width);
  --table-column-last-border-width: var(--table-border-width);
  --table-row-background-hover: var(--table-background);
  --table-row-alt-background: var(--table-background);
  --table-row-last-border-width: var(--table-border-width);
  /* Tags */
  --tag-size: var(--font-text-size);
  --tag-color: var(--text-accent);
  --tag-color-hover: var(--text-accent);
  --tag-decoration: none;
  --tag-decoration-hover: var(--text-accent) 1px underline;
  --tag-background: none;
  --tag-background-hover: none;
  --tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
  --tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --tag-border-width: 0;
  --tag-padding-x: 0;
  --tag-padding-y: 0;
  --tag-radius: 0;
  --tag-weight: inherit;
  /* Window frame */
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary-alt);
  --titlebar-border-width: 0;
  --titlebar-border-color: var(--background-modifier-border);
  --titlebar-text-color: var(--text-muted);
  --titlebar-text-color-focused: var(--text-normal);
  --titlebar-text-weight: var(--font-bold);
  /* Toggles */
  --toggle-border-width: 2px;
  --toggle-width: 40px;
  --toggle-radius: 18px;
  --toggle-thumb-color: white;
  --toggle-thumb-radius: 18px;
  --toggle-thumb-height: 18px;
  --toggle-thumb-width: 18px;
  --toggle-s-border-width: 2px;
  --toggle-s-width: 34px;
  --toggle-s-thumb-height: 15px;
  --toggle-s-thumb-width: 15px;
  /* Vault name */
  --vault-name-font-size: var(--font-ui-small);
  --vault-name-font-weight: var(--font-medium);
  --vault-name-color: var(--text-normal);
  /* Workspace */
  --workspace-background-translucent: rgba(var(--mono-rgb-0), 0.6);
  /* Color mappings ------------------------ */
  /* Accent HSL values */
  --accent-h: var(--ctp-accent-h);
  --accent-s: var(--ctp-accent-s);
  --accent-l: var(--ctp-accent-l);
  --accent-green-h: var(--ctp-accent-green-h);
  --accent-green-s: var(--ctp-accent-green-s);
  --accent-green-l: var(--ctp-accent-green-l);
  --accent-mauve-h: var(--ctp-accent-mauve-h);
  --accent-mauve-s: var(--ctp-accent-mauve-s);
  --accent-mauve-l: var(--ctp-accent-mauve-l);
  --accent-pink-h: var(--ctp-accent-pink-h);
  --accent-pink-s: var(--ctp-accent-pink-s);
  --accent-pink-l: var(--ctp-accent-pink-l);
  /* Backgrounds */
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-10);
  --background-secondary: var(--color-base-20);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.1);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --background-modifier-border: var(--color-base-30);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-focus: var(--color-base-40);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-success: var(--color-green);
  --background-modifier-message: rgba(var(--mono-rgb-0), 1);
  /* Inputs */
  --background-modifier-form-field: var(--color-base-00);
  /* Text */
  --text-normal: var(--color-base-100);
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-50);
  --text-on-accent: var(--color-base-20);
  --text-on-accent-inverted: var(--color-base-100);
  --text-error: var(--color-red);
  --text-warning: var(--color-orange);
  --text-success: var(--color-green);
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
  --text-highlight-bg-rgb: var(--ctp-yellow-rgb);
  --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.9);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-1);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-10);
  --interactive-accent-hsl: var(--color-accent-hsl);
  --interactive-accent: var(--color-accent-1);
  --interactive-accent-hover: var(--color-accent-2);
}

.theme-dark {
  color-scheme: dark;
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: var(--ctp-crust-rgb);
  --mono-rgb-100: var(--ctp-text-rgb);
  --color-red-rgb: var(--ctp-red-rgb);
  --color-red: var(--ctp-red);
  --color-orange-rgb: var(--ctp-peach-rgb);
  --color-orange: var(--ctp-peach);
  --color-yellow-rgb: var(--ctp-peach-rgb);
  --color-yellow: var(--ctp-yellow);
  --color-green-rgb: var(--ctp-green-rgb);
  --color-green: var(--ctp-green);
  --color-cyan-rgb: var(--ctp-sky-rgb);
  --color-cyan: var(--ctp-sky);
  --color-blue-rgb: var(--ctp-blue-rgb);
  --color-blue: var(--ctp-blue);
  --color-purple-rgb: var(--ctp-mauve-rgb);
  --color-purple: var(--ctp-mauve);
  --color-pink-rgb: var(--ctp-pink-rgb);
  --color-pink: var(--ctp-pink);
  --color-base-00: var(--ctp-base);
  --color-base-05: var(--ctp-crust);
  --color-base-10: var(--ctp-crust);
  --color-base-20: var(--ctp-mantle);
  --color-base-25: var(--ctp-surface0);
  --color-base-30: var(--ctp-surface0);
  --color-base-35: var(--ctp-surface1);
  --color-base-40: var(--ctp-surface1);
  --color-base-50: var(--ctp-overlay0);
  --color-base-60: var(--ctp-overlay1);
  --color-base-70: var(--ctp-subtext1);
  --color-base-100: var(--ctp-text);
  --color-accent-hsl:
    var(--accent-h),
    var(--accent-s),
    var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 5%));
  --color-accent-mauve: hsl(var(--accent-mauve-h), var(--accent-mauve-s), var(--accent-mauve-l));
  --color-accent-mauve-1: hsl(var(--accent-mauve-h), var(--accent-mauve-s), var(--accent-mauve-l));
  --color-accent-mauve-2: hsl(var(--accent-mauve-h), var(--accent-mauve-s), calc(var(--accent-mauve-l) - 3%));
  --background-modifier-form-field: var(--color-base-20);
  --background-secondary-alt: var(--color-base-20);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --background-modifier-box-shadow: rgba(var(--mono-rgb-0), 0.3);
  --background-modifier-cover: rgba(var(--mono-rgb-0), 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.2);
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 9%),
    0 2px 4px 0 rgba(0, 0, 0, 15%),
    0 1px 1.5px 0 rgba(0, 0, 0, 10%),
    0 1px 2px 0 rgba(0, 0, 0, 20%),
    0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 16%),
    0 2px 3px 0 rgba(0, 0, 0, 30%),
    0 1px 1.5px 0 rgba(0, 0, 0, 20%),
    0 1px 2px 0 rgba(0, 0, 0, 40%),
    0 0 0 0 transparent;
  --shadow-s:
    0 1px 2px rgba(0, 0, 0, 12.1%),
    0 3.4px 6.7px rgba(0, 0, 0, 17.9%),
    0 15px 30px rgba(0, 0, 0, 30%);
  --shadow-l:
    0 1.8px 7.3px rgba(0, 0, 0, 7.1%),
    0 6.3px 24.7px rgba(0, 0, 0, 11.2%),
    0 30px 90px rgba(0, 0, 0, 20%);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
}

/*
* Theme scrollbars. Think this is particularly relevant for macOS, where native
* scrollbars are on by default.
*/
.native-scrollbars ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: var(--radius-l);
  background-color: var(--scrollbar-bg);
}

.native-scrollbars ::-webkit-scrollbar-track {
  background-color: transparent;
}

.native-scrollbars ::-webkit-scrollbar-thumb {
  min-height: 45px;
  border: 2px solid transparent;
  border-radius: var(--radius-l);
  background-clip: padding-box;
  background-color: var(--scrollbar-thumb-bg);
}

.native-scrollbars ::-webkit-scrollbar-thumb:active {
  border-radius: var(--radius-l);
}

.native-scrollbars ::-webkit-scrollbar-thumb:hover,
.native-scrollbars ::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-active-thumb-bg);
}

.native-scrollbars ::-webkit-scrollbar-corner {
  background: transparent;
}

.native-scrollbars * {
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-bg);
  scrollbar-width: thin;
}

/*
* Fix vault title hover color
*/
@media (hover: hover) {
  .nav-folder.mod-root > .nav-folder-title:hover {
    color: inherit;
  }
}
/*
* Fix digit color when highlighting "Linked mentions" and similar
*/
.tree-item-self:hover .tree-item-flair {
  color: inherit;
}

/*
* Darken the pdf toolbar's background
*/
.pdf-toolbar {
  background-color: var(--background-secondary) !important;
}

/*
* Allow for more opaque highlight colors in search results
*/
.search-result-file-matched-text {
  color: var(--text-on-accent);
}

/*
* TODO: Temporary fix for icon type background color change on drag
*/
.is-being-dragged > .nav-file-tag {
  background-color: var(--background-primary);
}

/*
* Fixes unresolved links and their color/underline issues
*/
.cm-s-obsidian span.cm-hmd-internal-link:hover:has(.is-unresolved) {
  text-decoration-color: var(--link-unresolved-decoration-color);
}

.markdown-source-view.mod-cm6 .is-unresolved:hover {
  color: var(--text-muted);
}

/*
* Highlight backlink search result area
*/
.search-result:not(.is-collapsed) .search-result-file-title {
  --nav-item-color-active: var(--text-normal);
}

/*
* Reduce border size on dropdown :focus
*/
select:focus,
.dropdown:focus {
  box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}

/*
* Darken input shadow for buttons with color
*/
button.mod-cta {
  --interactive-accent: var(--color-accent-mauve);
  --interactive-accent-hover: var(--color-accent-mauve-2);
  --input-shadow:
    inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 24%),
    0 1px 2px 0 rgba(0, 0, 0, 40%),
    0 1px 1.5px 0 rgba(0, 0, 0, 20%),
    0 2px 4px 0 rgba(0, 0, 0, 60%),
    0 0 0 0 transparent;
  --input-shadow-hover:
    inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 18%),
    0 1px 2px 0 rgba(0, 0, 0, 30%),
    0 1px 1.5px 0 rgba(0, 0, 0, 10%),
    0 1px 3px 0 rgba(0, 0, 0, 50%),
    0 0 0 0 transparent;
}

/*
* Pills
* Currently app.css sets pill background based on tag background
*/
.metadata-property[data-property-key=tags] {
  --pill-color-remove-hover: var(--color-red);
  --tag-background: hsla(var(--interactive-accent-hsl), 0.1);
  --tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
  --pill-background: hsla(var(--interactive-accent-hsl), 0.1);
  --pill-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
  --pill-decoration: none;
  --pill-decoration-hover: none;
  --pill-padding-x: 0.65em;
  --pill-padding-y: 0.25em;
  --pill-radius: 2em;
  --pill-weight: inherit;
}

/*
* Tags
 */
.cm-hashtag:hover {
  text-decoration: underline 1px var(--text-accent);
}

/*
* Icons
*/
.is-focused .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-icon {
  --tab-text-color-focused-active-current: var(--color-purple);
}

.mod-root .workspace-tab-header-status-icon {
  --text-accent: var(--color-purple);
}

@media (hover: hover) {
  .workspace-tab-header:hover .workspace-tab-header-inner-close-button:hover {
    color: var(--color-red);
  }
}
@media (hover: hover) {
  .mod-left-split .workspace-tab-header.has-active-menu:hover,
  .mod-right-split .workspace-tab-header.has-active-menu:hover,
  .mod-left-split .workspace-tab-header.is-active:hover,
  .mod-right-split .workspace-tab-header.is-active:hover {
    color: var(--text-accent);
  }
}
.cm-s-obsidian .is-flashing > .cm-hmd-internal-link {
  --link-color-hover: var(--text-on-accent);
  color: var(--text-on-accent);
}

/*
* Link transitions, maybe?
*/

/*# sourceMappingURL=theme.css.map */
