.canvas-node-label {
  color: var(--text-muted);
}

.canvas-controls button:hover {
  --interactive-hover: rgb(var(--ctp-accent));
  --text-normal: var(--text-on-accent);
}

.canvas-controls button:disabled:hover {
  opacity: 40%;
}
