.canvas-node-label {
  color: var(--text-muted);
}

/* Indicates item is selected/focused */

.canvas-node.is-selected .canvas-node-label,
.canvas-node.is-focused .canvas-node-label {
  color: rgb(var(--canvas-color));
}

.canvas-controls button:hover {
  --interactive-hover: rgb(var(--ctp-accent));
  --text-normal: var(--text-on-accent);
}

.canvas-controls button:disabled:hover {
  opacity: 40%;
}

.canvas-control-item {
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}

@media (hover: hover) {
  .canvas-control-item:hover {
    background-color: rgb(var(--ctp-pink));
    color: var(--text-on-accent);
  }
}

.canvas-node-container {
  border-radius: var(--radius-l);
}

/* Makes boxes a little less intense */

.canvas-node.is-themed .canvas-node-container {
  border-width: 1px;
  border-color: rgb(var(--canvas-color), 60%);
  box-shadow: none;
}

.canvas-node.is-selected.is-themed .canvas-node-container,
.canvas-node.is-focused.is-themed .canvas-node-container {
  border-width: 2px;
  box-shadow: none;
}

.canvas-node.is-themed .canvas-node-content {
  background-color: rgb(var(--canvas-color), 10%);
}
