.mod-settings {
  & input.slider {
    --slider-track-background: rgb(var(--ctp-accent));
  }

  & input[type="color"]::-webkit-color-swatch:hover {
    box-shadow:
      inset 0 0 0 1px rgb(var(--mono-rgb-100) 0.25),
      0 0 0 2px rgb(var(--ctp-surface1));
  }

  .checkbox-container {
    --background-modifier-border-hover: rgb(var(--ctp-red));

    box-shadow: 0 0 2px inset rgb(var(--ctp-base));
  }

  .checkbox-container::after {
    --toggle-thumb-color: var(--text-on-accent);

    box-shadow: 0 0 4px rgb(var(--ctp-base));
  }

  .checkbox-container:hover {
    box-shadow: none;
  }

  .vertical-tab-header-group-title {
    color: var(--text-muted);
    font-size: var(--font-ui-medium);
    font-variant: all-small-caps;
  }
}

.checkbox-container.is-enabled {
  background-color: rgb(var(--ctp-green));
}

button.mod-cta {
  border: 0;
  border-radius: var(--button-radius);
  -webkit-app-region: no-drag;
  color: var(--text-normal);
  cursor: var(--cursor);
  font-family: inherit;
  font-size: var(--font-ui-small);
  font-weight: var(--input-font-weight);
  outline: none;
  user-select: none;
  white-space: nowrap;

  &:not(.clickable-icon) {
    background-color: var(--interactive-normal);
  }

  &:hover {
    background-color: var(--interactive-hover);
  }
}

.modal {
  border-color: rgb(var(--ctp-surface1));
}

//Style settings customisation
//Remove collapse option from catppuccin credits header
.style-settings-heading[data-id="catppuccin-theme-credits-link"] {
  + .style-settings-container,
  .style-settings-collapse-indicator {
    display: none;
  }

  &:not(.is-collapsed) {
    margin-bottom: 0;
  }
}

.community-item .flair:not(.mod-pop) {
  --tag-background: rgb(var(--ctp-accent));
  --tag-color: var(--text-on-accent);

  text-transform: lowercase;
}
