.clickable-icon {
  border: 1px solid transparent;

  &:hover {
    --background-modifier-hover: var(--color-pink);
    --background-modifier-active-hover: var(--color-pink);

    & svg {
      color: var(--text-on-accent);
    }
  }

  &.is-active {
    border: 1px solid var(--color-pink);
    box-shadow: var(--box-shadow-inset-small);

    &:hover {
      box-shadow: none;
    }
  }
}

.workspace-tab-header {
  .mod-right-split &,
  .mod-left-split & {
    &:hover {
      --background-modifier-hover: var(--color-pink);
      --background-modifier-active-hover: var(--color-pink);

      box-shadow: none;

      & svg {
        color: var(--text-on-accent);
      }
    }
  }
}

.workspace-tab-header.is-active {
  .mod-right-split &,
  .mod-left-split & {
    border: 1px solid var(--color-pink);
    box-shadow: var(--box-shadow-inset-small);

    &:hover {
      --background-modifier-hover: var(--color-pink);
      --background-modifier-active-hover: var(--color-pink);

      box-shadow: none;

      & svg {
        color: var(--text-on-accent);
      }
    }
  }
}
