.workspace-tab-header-inner:hover .workspace-tab-header-inner-icon {
  color: var(--text-on-accent);
}

.clickable-icon.clickable-icon {
  border: 1px solid transparent;

  &:hover {
    background-color: var(--color-orange);

    & svg {
      color: var(--text-on-accent);
    }
  }
}

.clickable-icon.is-active {
  border: 1px solid var(--color-orange);
  background-color: var(--background-modifier-hover);
  box-shadow: var(--box-shadow-inset-small);

  &:hover {
    box-shadow: none;
  }
}

.mod-left-split .workspace-tab-header .workspace-tab-header-inner,
.mod-right-split .workspace-tab-header.workspace-tab-header-inner {
  border: 1px solid transparent;
}

.mod-left-split .workspace-tab-header.is-active .workspace-tab-header-inner,
.mod-right-split .workspace-tab-header.is-active .workspace-tab-header-inner {
  border: 1px solid var(--color-orange);
  box-shadow: var(--box-shadow-inset-small);

  &:hover {
    background-color: var(--color-orange);
    box-shadow: none;

    & svg {
      color: var(--text-on-accent);
    }
  }
}

.mod-left-split .workspace-tab-header:not(.is-active):hover > .workspace-tab-header-inner,
.mod-right-split .workspace-tab-header:not(.is-active):hover > .workspace-tab-header-inner {
  background-color: var(--color-orange);
}
