svg {
  --quick-bg-transition: color 0.3s ease;

  transition: var(--quick-bg-transition);
}

.workspace-tab-header-inner {
  --quick-bg-transition: background-color 0.3s ease, box-shadow 0.1s ease;

  transition: var(--quick-bg-transition);
}

.clickable-icon.clickable-icon {
  --quick-bg-transition: background-color 0.3s ease;

  transition: var(--quick-bg-transition);
}

.mod-left-split .workspace-tab-header.is-active .workspace-tab-header-inner {
  box-shadow: var(--box-shadow-inset-small);
  border: 1px solid var(--color-accent);

  &:hover {
    background-color: var(--color-accent);
    box-shadow: none;

    & svg {
      color: var(--text-on-accent);
    }
  }
}

.is-focused .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.is-focused .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-title {
  color: var(--color-accent);
}

.workspace-tab-header:not(.is-active) > .workspace-tab-header-inner {
  border-color: transparent;
}

.mod-left-split .workspace-tab-header:not(.is-active):hover > .workspace-tab-header-inner,
.clickable-icon:hover {
  background-color: var(--color-accent);

  & svg {
    color: var(--text-on-accent);
  }
}
