/* sidebar hovers */
.horizontal-tab-nav-item,
.vertical-tab-nav-item {
  &:hover,
  &.is-active:hover {
    background-color: var(--color-blue);
    color: var(--text-on-accent);
  }
}

.setting-item-control .checkbox-container {
  background-color: var(--background-secondary);
  outline: 1px solid var(--background-modifier-border);
}

.setting-item-control .checkbox-container::after {
  background-color: var(--text-error);
}

.setting-item-control .checkbox-container.is-enabled {
  &::after {
    background-color: var(--text-success);
  }
}
