.mod-settings {
  & input.slider {
    --slider-track-background: rgb(var(--ctp-accent));
  }

  & input[type="color"]::-webkit-color-swatch:hover {
    box-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.25), 0 0 0 2px rgb(var(--ctp-surface1));
  }
}

button.mod-cta {
  border: 0;
  border-radius: var(--button-radius);
  -webkit-app-region: no-drag;
  color: var(--text-normal);
  cursor: var(--cursor);
  font-family: inherit;
  font-size: var(--font-ui-small);
  font-weight: var(--input-font-weight);
  outline: none;
  user-select: none;
  white-space: nowrap;

  &:not(.clickable-icon) {
    background-color: var(--interactive-normal);
  }

  &:hover {
    background-color: var(--interactive-hover);
  }
}

.modal {
  border-color: rgb(var(--ctp-surface1));
}
