.workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
  background-color: var(--color-accent);

  & .workspace-tab-header-inner-title {
    color: var(--text-on-accent);
  }

  & svg {
    color: var(--text-on-accent);
  }
}

.workspace-tab-header.is-active:hover .workspace-tab-header-inner {
  background-color: var(--background-primary);

  & .workspace-tab-header-inner-title {
    color: var(--color-rosewater);
  }

  & svg {
    color: var(--text-normal);
  }
}
