body {
  /* Link effects */
  --link-transition: background-color 0.3s ease, color 0.4s ease;

  /* Box shadows */
  --box-shadow-inset-small: 0 2px 4px inset hsl(254deg 25% 10%);
  --box-shadow-inset-small-hover:
    0 2px 4px inset hsl(240deg 23% 9%),
    0 4px 8px inset hsl(240deg 23% 9%);
  --box-shadow-inset-large:
    0 2px 4px inset hsl(240deg 23% 9%),
    0 4px 8px inset hsl(240deg 23% 9%),
    0 8px 16px inset hsl(240deg 23% 9%);
  --box-shadow-large:
    0 0 4px hsl(240deg 23% 9%),
    0 0 8px hsl(240deg 23% 9%),
    0 0 16px hsl(240deg 23% 9%);
  --box-shadow-small:
    0 2px 2px hsl(240deg 23% 9%),
    0 4px 4px hsl(240deg 23% 9%);
  --box-shadow-small-hover:
    0 2px 2px hsl(240deg 23% 9%),
    0 4px 4px hsl(240deg 23% 9%);

  /* Text */
  --text-underline: 2px;
  --text-decoration-standard: 0.15rem underline var(--interactive-accent);
  --text-decoration-external-link: 0.15em underline var(--interactive-normal);
  --text-decoration-broken-link: 0.15rem underline var(--maroon);
  --text-decoration-titlebar: 0.15rem underline var(--active-interaction);

  /* Padding */
  --padding-small: 3px;
  --padding-medium: 6px;
  --padding-large: 10px;
  --padding-x-large: 24px;

  /* Margin */
  --margin-small: 2px;

  /* Borders */
  --border-default: hsl(249deg 18% 22%) 1px solid;
  --border-left-small: 1px solid var(--rosewater);
  --border-left: solid 6px var(--active-interaction);
  --border-left-hover: solid 6px var(--black-4);
  --border-side-misc: 0.15rem solid var(--border);

  /* Border radius */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;

  /* Icons */
  --icon-height-small: 16px;
  --icon-width-small: 16px;
  --icon-height-medium: 20px;
  --icon-width-medium: 20px;
  --icon-background-size: 16px 16px;
  --icon-margin-right: 8px;
}
