/* @settings
name: Catppuccin
id: catppuccin-theme-settings
settings:
  -
    id: catppuccin-theme-dark
    title: Dark theme flavor
    description: Select your preferred dark mode flavor
    type: class-select
    allowEmpty: false
    default: ctp-mocha
    options:
        -
            label: Frappe
            value: ctp-frappe
        -
            label: Macchiato
            value: ctp-macchiato
        -
            label: Mocha
            value: ctp-mocha
  -
    id: catppuccin-theme-accents
    title: Theme accent
    description: Select your preferred accent
    type: class-select
    allowEmpty: false
    default: ctp-full-palette
    options:
        -
            label: Full palette
            value: ctp-full-palette
        -
            label: Rosewater
            value: ctp-accent-rosewater
        -
            label: Flamingo
            value: ctp-accent-flamingo
        -
            label: Pink
            value: ctp-accent-pink
        -
            label: Mauve
            value: ctp-accent-mauve
        -
            label: Red
            value: ctp-accent-red
        -
            label: Maroon
            value: ctp-accent-maroon
        -
            label: Peach
            value: ctp-accent-peach
        -
            label: Yellow
            value: ctp-accent-yellow
        -
            label: Green
            value: ctp-accent-green
        -
            label: Teal
            value: ctp-accent-teal
        -
            label: Sky
            value: ctp-accent-sky
        -
            label: Sapphire
            value: ctp-accent-sapphire
        -
            label: Blue
            value: ctp-accent-blue
        -
            label: Lavender
            value: ctp-accent-lavender
  -
    id: catppuccin-theme-credits-link
    title: Source Code
    description: 💎 View and contribute to the port at github.com/catppuccin/obsidian
    type: heading
    level: 1
    collapsed: true
*/

.theme-light,
.theme-light.ctp-latte {
  --ctp-rosewater: 222, 149, 132;
  --ctp-flamingo: 221, 120, 120;
  --ctp-pink: 236, 131, 208;
  --ctp-mauve: 136, 57, 239;
  --ctp-red: 210, 15, 57;
  --ctp-maroon: 230, 69, 83;
  --ctp-peach: 254, 100, 11;
  --ctp-yellow: 228, 147, 32;
  --ctp-green: 64, 160, 43;
  --ctp-teal: 23, 146, 153;
  --ctp-sky: 4, 165, 229;
  --ctp-sapphire: 32, 159, 181;
  --ctp-blue: 42, 110, 245;
  --ctp-lavender: 114, 135, 253;
  --ctp-text: 76, 79, 105;
  --ctp-subtext1: 92, 95, 119;
  --ctp-subtext0: 108, 111, 133;
  --ctp-overlay2: 124, 127, 147;
  --ctp-overlay1: 140, 143, 161;
  --ctp-overlay0: 156, 160, 176;
  --ctp-surface2: 172, 176, 190;
  --ctp-surface1: 188, 192, 204;
  --ctp-surface0: 204, 208, 218;
  --ctp-base: 239, 241, 245;
  --ctp-mantle: 230, 233, 239;
  --ctp-crust: 220, 224, 232;
}

.theme-dark.ctp-frappe {
  --ctp-rosewater: 242, 213, 207;
  --ctp-flamingo: 238, 190, 190;
  --ctp-pink: 244, 184, 228;
  --ctp-mauve: 202, 158, 230;
  --ctp-red: 231, 130, 132;
  --ctp-maroon: 234, 153, 156;
  --ctp-peach: 239, 159, 118;
  --ctp-yellow: 229, 200, 144;
  --ctp-green: 166, 209, 137;
  --ctp-teal: 129, 200, 190;
  --ctp-sky: 153, 209, 219;
  --ctp-sapphire: 133, 193, 220;
  --ctp-blue: 140, 170, 238;
  --ctp-lavender: 186, 187, 241;
  --ctp-text: 198, 206, 239;
  --ctp-subtext1: 181, 189, 220;
  --ctp-subtext0: 165, 172, 201;
  --ctp-overlay2: 148, 155, 183;
  --ctp-overlay1: 131, 138, 164;
  --ctp-overlay0: 115, 120, 145;
  --ctp-surface2: 98, 103, 126;
  --ctp-surface1: 81, 86, 108;
  --ctp-surface0: 65, 69, 89;
  --ctp-base: 48, 52, 70;
  --ctp-mantle: 41, 44, 60;
  --ctp-crust: 35, 38, 52;
}

.theme-dark.ctp-macchiato {
  --ctp-rosewater: 244, 219, 214;
  --ctp-flamingo: 240, 198, 198;
  --ctp-pink: 245, 189, 230;
  --ctp-mauve: 198, 160, 246;
  --ctp-red: 237, 135, 150;
  --ctp-maroon: 238, 153, 160;
  --ctp-peach: 245, 169, 127;
  --ctp-yellow: 238, 212, 159;
  --ctp-green: 166, 218, 149;
  --ctp-teal: 139, 213, 202;
  --ctp-sky: 145, 215, 227;
  --ctp-sapphire: 125, 196, 228;
  --ctp-blue: 138, 173, 244;
  --ctp-lavender: 183, 189, 248;
  --ctp-text: 197, 207, 245;
  --ctp-subtext1: 179, 188, 224;
  --ctp-subtext0: 161, 170, 203;
  --ctp-overlay2: 143, 151, 183;
  --ctp-overlay1: 125, 132, 162;
  --ctp-overlay0: 108, 114, 141;
  --ctp-surface2: 90, 95, 120;
  --ctp-surface1: 72, 76, 100;
  --ctp-surface0: 54, 58, 79;
  --ctp-base: 36, 39, 58;
  --ctp-mantle: 30, 32, 48;
  --ctp-crust: 24, 25, 38;
}

.theme-dark,
.theme-dark.ctp-mocha {
  --ctp-rosewater: 245, 224, 220;
  --ctp-flamingo: 242, 205, 205;
  --ctp-pink: 245, 194, 231;
  --ctp-mauve: 203, 166, 247;
  --ctp-red: 243, 139, 168;
  --ctp-maroon: 235, 160, 172;
  --ctp-peach: 250, 179, 135;
  --ctp-yellow: 249, 226, 175;
  --ctp-green: 166, 227, 161;
  --ctp-teal: 148, 226, 213;
  --ctp-sky: 137, 220, 235;
  --ctp-sapphire: 116, 199, 236;
  --ctp-blue: 135, 176, 249;
  --ctp-lavender: 180, 190, 254;
  --ctp-text: 198, 208, 245;
  --ctp-subtext1: 179, 188, 223;
  --ctp-subtext0: 161, 168, 201;
  --ctp-overlay2: 142, 149, 179;
  --ctp-overlay1: 123, 129, 157;
  --ctp-overlay0: 105, 109, 134;
  --ctp-surface2: 86, 89, 112;
  --ctp-surface1: 67, 70, 90;
  --ctp-surface0: 49, 50, 68;
  --ctp-base: 30, 30, 46;
  --ctp-mantle: 24, 24, 37;
  --ctp-crust: 17, 17, 27;
}

.theme-dark,
.theme-light {
  --ctp-accent: var(--ctp-rosewater);
}

/* ------------------Selecting Accents------------------- */

.ctp-accent-rosewater {
  --ctp-accent: var(--ctp-rosewater);
}

.ctp-accent-flamingo {
  --ctp-accent: var(--ctp-flamingo);
}

.ctp-accent-pink {
  --ctp-accent: var(--ctp-pink);
}

.ctp-accent-mauve {
  --ctp-accent: var(--ctp-mauve);
}

.ctp-accent-red {
  --ctp-accent: var(--ctp-red);
}

.ctp-accent-maroon {
  --ctp-accent: var(--ctp-maroon);
}

.ctp-accent-peach {
  --ctp-accent: var(--ctp-peach);
}

.ctp-accent-yellow {
  --ctp-accent: var(--ctp-yellow);
}

.ctp-accent-green {
  --ctp-accent: var(--ctp-green);
}

.ctp-accent-teal {
  --ctp-accent: var(--ctp-teal);
}

.ctp-accent-sky {
  --ctp-accent: var(--ctp-sky);
}

.ctp-accent-sapphire {
  --ctp-accent: var(--ctp-sapphire);
}

.ctp-accent-blue {
  --ctp-accent: var(--ctp-blue);
}

.ctp-accent-lavender {
  --ctp-accent: var(--ctp-lavender);
}

/* ------------------Actual Configs-------------------- */
.theme-dark,
.theme-light {
  --background-primary: rgb(var(--ctp-base));
  --background-primary-rgb: var(--ctp-base);
  --background-primary-alt: rgb(var(--ctp-mantle));
  --background-secondary: rgb(var(--ctp-mantle));
  --background-secondary-alt: rgb(var(--ctp-crust));
  --background-modifier-border: rgb(var(--ctp-surface0));
  --background-modifier-form-field: rgba(var(--ctp-crust), 0.3);
  --background-modifier-form-field-highlighted: rgba(var(--ctp-crust), 0.22);
  --background-modifier-box-shadow: rgba(var(--ctp-crust), 0.3);
  --background-modifier-success: rgba(var(--ctp-green), 0.1);
  --background-modifier-success-rgb: var(--ctp-green);
  --background-modifier-error: rgba(var(--ctp-red), 0.1);
  --background-modifier-error-rgb: var(--ctp-red);
  --background-modifier-error-hover: rgba(var(--ctp-red), 0.15);
  --background-modifier-cover: rgba(var(--ctp-crust), 0.8);
  --color-accent: rgb(var(--ctp-accent));
  --color-accent-1: rgb(var(--ctp-accent));
  --color-accent-2: rgba(var(--ctp-accent), 0.9);
  --text-accent: rgb(var(--ctp-accent));
  --text-accent-hover: rgb(var(--ctp-accent));
  --text-normal: rgb(var(--ctp-text));
  --text-muted: rgb(var(--ctp-subtext0));
  --text-muted-rgb: var(--ctp-subtext0);
  --text-faint: rgb(var(--ctp-surface1));
  --text-error: rgb(var(--ctp-red));
  --text-error-hover: rgba(var(--ctp-red), 0.8);
  --text-highlight-bg: rgba(var(--ctp-accent), 0.8);
  --text-highlight-bg-active: rgba(var(--ctp-accent), 0.8);
  --text-selection: rgba(var(--ctp-yellow), 0.8);
  --text-on-accent: rgb(var(--ctp-base));
  --interactive-normal: rgb(var(--ctp-surface0));
  --interactive-hover: rgb(var(--ctp-surface1));
  --interactive-accent: rgb(var(--ctp-accent));
  --interactive-accent-rgb: var(--ctp-accent);
  --interactive-accent-hover: rgb(var(--ctp-accent));
  --interactive-success: rgb(var(--ctp-green));
  --scrollbar-active-thumb-bg: rgba(var(--ctp-text), 0.2);
  --scrollbar-bg: rgba(var(--ctp-text), 0.05);
  --scrollbar-thumb-bg: rgba(var(--ctp-text), 0.1);

  /* changes to app.css variables */

  /*
  * indentation guides
  */
  --indentation-guide-color: rgba(var(--ctp-surface1));
  --indentation-guide-color-active: rgba(var(--ctp-accent), 0.7);
  --indentation-guide-width: 2px;
}

/* callouts */

.callout {
  --callout-color: var(--ctp-accent);
  --callout-icon: lucide-pencil;
}

.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"] {
  --callout-color: var(--ctp-accent);
  --callout-icon: lucide-clipboard-list;
}

.callout[data-callout="info"],
.callout[data-callout="todo"] {
  --callout-color: var(--ctp-green);
}

.callout[data-callout="info"] {
  --callout-icon: lucide-info;
}

.callout[data-callout="todo"] {
  --callout-icon: lucide-check-circle-2;
}

.callout[data-callout="tip"],
.callout[data-callout="hint"],
.callout[data-callout="important"] {
  --callout-color: var(--ctp-maroon);
  --callout-icon: lucide-flame;
}

.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
  --callout-color: var(--ctp-green);
  --callout-icon: lucide-check;
}

.callout[data-callout="question"],
.callout[data-callout="help"],
.callout[data-callout="faq"] {
  --callout-color: var(--ctp-mauve);
  --callout-icon: help-circle;
}

.callout[data-callout="warning"],
.callout[data-callout="caution"],
.callout[data-callout="attention"] {
  --callout-color: var(--ctp-red);
  --callout-icon: lucide-alert-triangle;
}

.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"] {
  --callout-color: var(--ctp-red);
  --callout-icon: lucide-x;
}

.callout[data-callout="danger"],
.callout[data-callout="error"] {
  --callout-color: var(--ctp-red);
  --callout-icon: lucide-zap;
}

.callout[data-callout="bug"] {
  --callout-color: 245, 0, 87;
  --callout-icon: lucide-bug;
}

.callout[data-callout="example"] {
  --callout-color: 124, 77, 255;
  --callout-icon: lucide-list;
}

.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  --callout-color: 158, 158, 158;
  --callout-icon: quote-glyph;
}

.theme-dark {
  color-scheme: dark;

  --highlight-mix-blend-mode: lighten;
}

.theme-light {
  color-scheme: light;

  --highlight-mix-blend-mode: darken;
}

.horizontal-tab-nav-item:hover,
.vertical-tab-nav-item:hover {
  --background-modifier-hover: rgb(var(--ctp-accent));

  color: var(--text-on-accent);
}

.checkbox-container {
  --background-modifier-border-hover: rgb(var(--ctp-red));

  box-shadow: 0 0 2px inset rgb(var(--ctp-base));

  &::after {
    --toggle-thumb-color: var(--text-on-accent);

    box-shadow: 0 0 4px rgb(var(--ctp-base));
  }
}

.mod-settings {
  & input.slider {
    --slider-track-background: rgb(var(--ctp-accent));
  }

  & input[type="color"]::-webkit-color-swatch:hover {
    box-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.25), 0 0 0 2px rgb(var(--ctp-surface1));
  }
}

button.mod-cta {
  border: 0;
  border-radius: var(--button-radius);
  -webkit-app-region: no-drag;
  color: var(--text-normal);
  cursor: var(--cursor);
  font-family: inherit;
  font-size: var(--font-ui-small);
  font-weight: var(--input-font-weight);
  outline: none;
  user-select: none;
  white-space: nowrap;

  &:not(.clickable-icon) {
    background-color: var(--interactive-normal);
  }

  &:hover {
    background-color: var(--interactive-hover);
  }
}

.modal {
  border-color: rgb(var(--ctp-surface1));
}

select:focus,
.dropdown:focus {
  box-shadow: 0 0 0 2px rgba(var(--ctp-accent), 0.7);
}

textarea:active,
input[type="text"]:active,
input[type="search"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="number"]:active,
textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus-visible,
input[type="text"]:focus-visible,
input[type="search"]:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible,
input[type="number"]:focus-visible {
  box-shadow: 0 0 0 2px rgba(var(--ctp-accent), 0.7);
}

.clickable-icon,
.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header {
  margin: 0 2px;

  &:hover {
    background-color: rgb(var(--ctp-accent));
    color: var(--text-on-accent);
  }

  &:hover svg {
    color: var(--text-on-accent);
  }
}

.clickable-icon.is-active,
.mod-left-split .workspace-tab-header.has-active-menu,
.mod-right-split .workspace-tab-header.has-active-menu,
.mod-left-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-header.is-active {
  box-shadow:
    inset 0 0 4px rgb(var(--ctp-crust)),
    inset 0 0 6px rgb(var(--ctp-base));
  outline: 1px solid rgb(var(--ctp-surface1));

  svg {
    color: rgb(var(--ctp-accent));
  }

  &:hover,
  &:hover svg {
    background-color: rgb(var(--ctp-accent));
    box-shadow: none;
    color: var(--text-on-accent);
  }
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header-inner-close-button:hover,
.workspace-tab-header.is-active .workspace-tab-header-inner-close-button:hover,
.workspace-tab-header-inner-close-button:hover {
  background-color: rgb(var(--ctp-red));
  box-shadow: 0 0 0 1px rgb(var(--ctp-crust));
  color: rgb(var(--ctp-base));
}

.search-result-file-match:hover .search-result-file-match-destination-file:hover {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);
}

:not(.is-grabbing) .nav-file-title:hover,
:not(.is-grabbing) .nav-folder-title:hover,
.nav-file-title.is-active,
.nav-folder-title.is-active,
.tree-item-self.is-clickable:hover {
  --nav-item-background-active: rgb(var(--ctp-accent));
  --nav-item-background-hover: rgb(var(--ctp-accent));
  --nav-item-color-hover: var(--text-on-accent);
  --nav-item-color-active: var(--text-on-accent);
}

.nav-folder.mod-root > .nav-folder-title:hover {
  color: rgb(var(--text-normal));
}

.tree-item-self:hover .tree-item-flair,
.backlink-pane > .tree-item-self.is-collapsed:hover,
.outgoing-link-pane > .tree-item-self.is-collapsed:hover {
  color: var(--text-on-accent);
}

.nav-file-tag {
  background-color: rgb(var(--ctp-surface0));
  color: var(--text-normal);
  outline: 1px solid rgb(var(--ctp-surface1));
}

.is-active .nav-file-tag {
  box-shadow:
    inset 0 0 2px rgb(var(--ctp-crust)),
    inset 0 0 4px rgb(var(--ctp-mantle));
}

.prompt {
  --prompt-border-color: rgb(var(--ctp-surface1));

  & .prompt-input[type="text"] {
    border: 0;
  }

  & .prompt-results {
    background-color: var(--background-secondary);
    box-shadow:
      inset 0 0 10px rgb(var(--ctp-crust)),
      inset 0 0 12px rgb(var(--ctp-base));
  }

  & .suggestion-item:hover,
  .suggestion-item.is-selected, {
    --background-modifier-hover: rgb(var(--ctp-accent));

    background-color: rgb(var(--ctp-accent));
    color: var(--text-on-accent);

    & .suggestion-flair {
      color: var(--text-on-accent);
    }
  }

  & .suggestion-item.mod-complex {
    .suggestion-hotkey {
      background-color: rgb(var(--ctp-surface0));
      color: var(--text-normal);
    }

    &:hover .suggestion-hotkey {
      box-shadow:
        inset 0 0 2px rgb(var(--ctp-crust)),
        inset 0 0 4px rgb(var(--ctp-base));
    }
  }
}

.search-suggest-item.is-selected:not(.mod-group) {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);

  .search-suggest-info-text {
    color: var(--text-on-accent);
  }
}

.search-result-file-matched-text {
  color: var(--text-on-accent);
}

.tree-item-flair {
  color: var(--text-muted);
}

.tooltip {
  color: rgb(var(--ctp-rosewater));
}

/*
  * Text select
  */
::selection {
  color: var(--text-on-accent);
}

.markdown-source-view.mod-cm6 .cm-indent::before { width: 0; }

.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  left: -13px;
}

/*
* Specific to full palette theme
*/

.ctp-full-palette.ctp-full-palette {
  --color-accent: var(--ctp-rosewater);
  --divider-color-hover: rgb(var(--ctp-blue));
  --hr-color: rgb(var(--ctp-blue));
  --indentation-guide-color: rgb(var(--ctp-surface1));
  --indentation-guide-color-active: rgb(var(--ctp-sapphire), 0.7);
  --indentation-guide-width: 2px;
  --list-marker-color: rgb(var(--ctp-sapphire));

  /*
  * Nav bar
  */

  :not(.is-grabbing) .nav-file-title:hover,
  :not(.is-grabbing) .nav-folder-title:hover,
  .nav-file-title.is-active,
  .nav-folder-title.is-active,
  .tree-item-self.is-clickable:hover {
    background-color: rgb(var(--ctp-yellow));
  }

  .nav-folder.mod-root > .nav-folder-title:hover {
    background-color: transparent;
    color: rgb(var(--text-normal));
  }

  /*
  * Icons
  */
  .horizontal-tab-nav-item:hover,
  .vertical-tab-nav-item:hover {
    --background-modifier-hover: rgb(var(--ctp-accent));

    color: var(--text-on-accent);
  }

  .clickable-icon.is-active,
  .mod-left-split .workspace-tab-header.has-active-menu,
  .mod-right-split .workspace-tab-header.has-active-menu,
  .mod-left-split .workspace-tab-header.is-active,
  .mod-right-split .workspace-tab-header.is-active {
    box-shadow:
      inset 0 0 4px rgb(var(--ctp-crust)),
      inset 0 0 6px rgb(var(--ctp-base));
    outline: 1px solid rgb(var(--ctp-surface1));

    svg {
      color: rgb(var(--ctp-pink));
    }

    &:hover,
    &:hover svg {
      background-color: rgb(var(--ctp-pink));
      box-shadow: none;
      color: var(--text-on-accent);
    }
  }

  .clickable-icon,
  .mod-left-split .workspace-tab-header,
  .mod-right-split .workspace-tab-header {
    &:hover {
      background-color: rgb(var(--ctp-pink));
      color: var(--text-on-accent);
    }

    &:hover svg {
      color: var(--text-on-accent);
    }
  }

  /*
  * Prompts
  */

  .prompt {
    .suggestion-item.is-selected,
    .suggestion-item:hover {
      --background-modifier-hover: rgb(var(--ctp-lavender));

      background-color: rgb(var(--ctp-lavender));
      color: var(--text-on-accent);

      & .suggestion-flair {
        color: var(--text-on-accent);
      }
    }
  }

  /*
  * Search
  */
  .search-suggest-item.is-selected:not(.mod-group) {
    background-color: rgb(var(--ctp-lavender));
    color: var(--text-on-accent);

    .search-suggest-info-text {
      color: var(--text-on-accent);
    }
  }

  /*
  * Dropdowns
  */

  select:focus,
  .dropdown:focus {
    box-shadow: 0 0 0 2px rgba(var(--ctp-blue), 0.7);
  }

  textarea:active,
  input[type="text"]:active,
  input[type="search"]:active,
  input[type="email"]:active,
  input[type="password"]:active,
  input[type="number"]:active,
  textarea:focus,
  input[type="text"]:focus,
  input[type="search"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  textarea:focus-visible,
  input[type="text"]:focus-visible,
  input[type="search"]:focus-visible,
  input[type="email"]:focus-visible,
  input[type="password"]:focus-visible,
  input[type="number"]:focus-visible {
    box-shadow: 0 0 0 2px rgba(var(--ctp-blue), 0.7);
  }

  /*
  * Checkboxes
  */
  input[type="checkbox"]:not(:checked) {
    border-color: rgb(var(--ctp-maroon));
    background-color: rgb(var(--ctp-red));
    box-shadow:
      inset 4px 4px 12px rgb(var(--ctp-mantle)),
      inset -4px -4px 12px rgb(var(--ctp-mantle));

    &:hover {
      border-width: 2px;
    }
  }

  input[type="checkbox"]:checked {
    border-color: transparent;
    background-color: rgb(var(--ctp-green));
    box-shadow: 0 0 0 1px rgb(var(--ctp-green), 0.4);

    &:hover {
      background-color: rgb(var(--ctp-maroon));
      box-shadow: 0 0 0 1px rgb(var(--ctp-maroon), 0.4);
    }
  }
}

/*
? I think !important is necessary to overwrite app.css's
*/
.HyperMD-header .cm-formatting-header {
  color: rgb(var(--ctp-sapphire));
  font-size: 75% !important;
}
