.horizontal-tab-nav-item.is-active,
.vertical-tab-nav-item.is-active {
  background-color: var(--ctp-mauve);
  box-shadow: var(--shadow-bevel);
}

@media (hover: hover) {
  .horizontal-tab-nav-item:hover, .vertical-tab-nav-item:hover {
    box-shadow: var(--shadow-bevel);
  }
}

/*
* Add warning text that accent color is disabled --
* modified CSS from Sanctum and Shimmering Focus themes.
*/

.mod-settings .vertical-tab-content > .setting-item:nth-child(2) > .setting-item-control > .setting-editor-extra-setting-button > .lucide-rotate-ccw {
  display: none;
}

.mod-settings .vertical-tab-content > .setting-item:nth-child(2) > .setting-item-control > .setting-editor-extra-setting-button + input[type='color'] {
  width: fit-content;
  visibility: hidden;
}

.mod-settings .vertical-tab-content > .setting-item:nth-child(2) > .setting-item-control > input[type='color']::before {
  position: relative;
  top: 1px;
  color: var(--text-error);
  content: 'The accent color is set by the current theme. Please use the Style Settings community plugin to change this and other settings in Catppuccin.';
  font-family: var(--font-interface);
  font-size: var(--font-ui-smaller);
  visibility: visible;
}

/*
* Settings checkbox colors
*/

.checkbox-container {
  height: calc(var(--toggle-thumb-height) + var(--toggle-border-width) * 2);
  background-color: var(--ctp-maroon);
}

.checkbox-container.is-enabled::after {
  box-shadow: inset -1px 0 1px var(--color-base-20);
  outline: 1px solid var(--color-base-40);
}

.checkbox-container::after {
  box-shadow: inset 1px 0 1px var(--color-base-20);
  outline: 1px solid var(--color-base-40);
}

.checkbox-container:hover::after {
  background-color: var(--color-yellow);
}

.checkbox-container.is-enabled {
  background-color: var(--color-green);
}

/**
* 1. Community plugins
*/

.community-item {
  border-width: 2px;
}

.community-item.is-selected,
.community-item.is-selected:hover {
  --background-modifier-border-hover: var(--color-purple);
  --interactive-accent: var(--background-primary);
  border-color: var(--color-purple);
  color: var(--text-on-accent-inverted);

  &:hover {
    border-color: var(--ctp-accent);
  }
}

.community-item.is-selected .community-item-author, .community-item.is-selected:hover .community-item-author, .community-item.is-selected .community-item-repo, .community-item.is-selected:hover .community-item-repo, .community-item.is-selected .community-item-downloads, .community-item.is-selected:hover .community-item-downloads, .community-item.is-selected .community-item-updated, .community-item.is-selected:hover .community-item-updated {
  color: var(--text-on-accent-inverted);
}

.community-item.is-selected .flair {
  background-color: var(--color-purple);
  color: var(--color-base-20);
}

.community-item.is-selected:hover .flair {
  background-color: var(--ctp-accent);
  color: var(--color-base-20);
}

.flair.mod-pop {
  background-color: var(--color-base-70);
  color: var(--color-base-20);
}

@media (hover: hover) {
  .community-item:hover {
    --background-modifier-border-hover: var(--ctp-accent);

    .flair.mod-pop {
      background-color: var(--ctp-accent);
    }
  }
}
