.horizontal-tab-nav-item,
.vertical-tab-nav-item {
  transition:
    var(--transition-hover-bg),
    var(--transition-hover-color);
}

.horizontal-tab-nav-item:hover,
.vertical-tab-nav-item:hover {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);
}

.horizontal-tab-nav-item.is-active,
.vertical-tab-nav-item.is-active {
  background-color: rgb(var(--ctp-accent));

  &:hover {
    background-color: rgb(var(--ctp-accent));
  }
}

.nav-folder-title,
.nav-file-title {
  transition:
    var(--transition-hover-bg),
    var(--transition-hover-color);
}

.search-result:not(.is-collapsed) .search-result-file-title {
  --nav-item-color-active: var(--text-normal);
}

.tree-item-self,
.embedded-backlinks .backlink-pane .tree-item-flair {
  transition:
    var(--transition-hover-bg),
    var(--transition-hover-color);
}

:not(.is-grabbing) .nav-file-title:hover,
:not(.is-grabbing) .nav-folder-title:hover,
.nav-file-title.is-active,
.nav-folder-title.is-active,
.tree-item-self.is-clickable:hover {
  --nav-item-background-active: rgb(var(--ctp-accent));
  --nav-item-background-hover: rgb(var(--ctp-accent));
  --nav-item-color-hover: var(--text-on-accent);
  --nav-item-color-active: var(--text-on-accent);
}

.nav-folder.mod-root > .nav-folder-title:hover {
  color: rgb(var(--text-normal));
}

.tree-item-flair {
  color: var(--text-muted);
}

.tree-item-self:hover .tree-item-flair,
.backlink-pane > .tree-item-self.is-collapsed:hover,
.outgoing-link-pane > .tree-item-self.is-collapsed:hover {
  color: var(--text-on-accent);
}

.nav-file-tag {
  background-color: rgb(var(--ctp-surface0));
  color: var(--text-normal);
  outline: 1px solid rgb(var(--ctp-surface1));
}

.is-active .nav-file-tag {
  box-shadow:
    inset 0 0 2px rgb(var(--ctp-crust)),
    inset 0 0 4px rgb(var(--ctp-mantle));
}

/*
* #TODO?
* This is trying to minimize how jarring this weird thing
* that happens when you click the folder name in the header title.
* It looks odd in the default theme, too.
*/

.is-flashing .nav-folder-title,
.is-flashing .nav-file-title {
  color: var(--text-on-accent);
}

/*
* Bookmarks
*/

.tree-item-self.is-selected {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);

  .tree-item-icon {
    color: var(--text-on-accent);
  }
}

body:not(.is-grabbing) .tree-item-self.is-active,
.tree-item-self.is-active,
.tree-item-self.is-clickable {
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}

body:not(.is-grabbing) .tree-item-self.is-active:hover,
.tree-item-self.is-active {
  --nav-item-color-active: var(--text-on-accent);
  --nav-item-background-active: rgb(var(--ctp-accent));

  .tree-item-icon {
    --icon-color: var(--text-on-accent);
  }
}

@media (hover: hover) {
  body:not(.is-grabbing) .tree-item-self.is-clickable:hover {
    .tree-item-icon {
      --icon-color: var(--text-on-accent);
    }
  }
}

.tree-item-icon {
  transition: var(--transition-hover-color);
}
