.mod-vertical
  .workspace-tab-header:not(.is-active):hover
  .workspace-tab-header-inner {
  --background-modifier-hover: rgb(var(--ctp-accent));
  --background-modifier-active-hover: rgb(var(--ctp-accent));

  .workspace-tab-header-inner-title {
    color: var(--text-on-accent);
  }

  svg {
    color: var(--text-on-accent);
  }
}

.workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}

/* Stacked tabs */
/*TODO disentangle all the tabs css*/

.mod-vertical
  .workspace-tabs.mod-stacked
  .workspace-tab-header:not(.is-active):hover
  .workspace-tab-header-inner {
    --background-modifier-hover: transparent;
    --background-modifier-active-hover: transparent;

  .workspace-tab-header-inner-title {
    color: rgb(var(--ctp-accent));
  }

  .workspace-tab-header-inner-close-button svg {
    color: var(--text-on-accent)
  }
}

.mod-vertical
  .workspace-tabs.mod-stacked
  .workspace-tab-header:not(.is-active)
  .workspace-tab-header-inner {
  svg {
    color: var(--text-muted);
  }
}

.workspace
  .mod-root
  .workspace-tabs.mod-stacked
  .workspace-tab-header-inner:hover
  .workspace-tab-header-inner-title {
  color: rgb(var(--ctp-accent)); // change to pink in full palette
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header-inner-icon:hover {
  background-color: transparent;
}
