.mod-vertical .workspace-tab-header:not(.is-active):hover {
  --background-modifier-hover: rgb(var(--ctp-accent));
  --background-modifier-active-hover: rgb(var(--ctp-accent));

  .workspace-tab-header-inner-title {
    color: var(--text-on-accent);
  }

  svg {
    color: var(--text-on-accent);
  }
}

/* Necessary for transition effect on tabs -- couldn't find another way. */

.workspace-tab-header :is(:hover) {
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}
