.workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner  {
  --background-modifier-hover: rgb(var(--ctp-accent));
  --background-modifier-active-hover: rgb(var(--ctp-accent));

  .workspace-tab-header-inner-title {
    color: var(--text-on-accent);
  }

  svg {
    color: var(--text-on-accent);
  }
}

.workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}
