// Search buttons

button.document-search-button {
  background-color: var(--interactive-normal);
  box-shadow: var(--shadow-button);
  font-family: var(--font-interface);

  &:hover {
    background-color: var(--background-modifier-hover);
    box-shadow: var(--shadow-button-hover);
  }

  &:hover,
  &:hover svg {
    color: var(--ctp-accent);
  }
}

// 'On' state icons

.clickable-icon.is-active,
.mod-left-split .workspace-tab-header.has-active-menu,
.mod-right-split .workspace-tab-header.has-active-menu,
.mod-left-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-header.is-active {
  box-shadow: var(--shadow-button-inset);

  &:hover {
    box-shadow: var(--shadow-button-inset);
  }

  &:hover,
  &:hover svg {
    color: var(--ctp-accent);
  }
}

// Button icon hovers

.mod-left-split .workspace-tab-header:hover,
.mod-right-split .workspace-tab-header:hover {
  box-shadow: var(--shadow-button-hover);
}

@media (hover: hover) {
  .clickable-icon:hover {
    box-shadow: var(--shadow-button-hover);
  }
}

// Remove box shadow from link icon in properties box
.metadata-property-value .clickable-icon:hover {
  box-shadow: none;
  color: var(--ctp-accent);
}

// Fix color for left icons in properties
.metadata-property-icon:hover .svg-icon {
  --icon-color-focused: var(--ctp-accent);
}

button:not(.clickable-icon) {
  background-color: var(--interactive-normal);
  box-shadow: var(--shadow-button);
  color: var(--text-normal);

  &:hover {
    background-color: var(--interactive-hover);
    box-shadow: var(--shadow-button-hover);
    color: var(--ctp-accent);
  }
}

// Darken input shadow for buttons with color

button.mod-cta {
  background-color: var(--interactive-normal);
  box-shadow: var(--shadow-button);
  color: var(--text-normal);
}

@media (hover: hover) {
  button.mod-cta:hover {
    background-color: var(--interactive-hover);
    box-shadow: var(--shadow-button-hover);
    color: var(--ctp-accent);
  }
}
