.callout {
  --callout-icon: lucide-pencil;

  border-color: rgb(var(--callout-color), 60%);
  background-color: rgb(var(--callout-color), 10%);
}

.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"] {
  --callout-icon: lucide-clipboard-list;
}

.callout[data-callout="info"] {
  --callout-icon: lucide-info;
}

.callout[data-callout="todo"] {
  --callout-icon: lucide-check-circle-2;
}

.callout[data-callout="tip"],
.callout[data-callout="hint"],
.callout[data-callout="important"] {
  --callout-icon: lucide-flame;
}

.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
  --callout-icon: lucide-check;
}

.callout[data-callout="question"],
.callout[data-callout="help"],
.callout[data-callout="faq"] {
  --callout-icon: help-circle;
}

.callout[data-callout="warning"],
.callout[data-callout="caution"],
.callout[data-callout="attention"] {
  --callout-icon: lucide-alert-triangle;
}

.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"] {
  --callout-icon: lucide-x;
}

.callout[data-callout="danger"],
.callout[data-callout="error"] {
  --callout-icon: lucide-zap;
}

.callout[data-callout="bug"] {
  --callout-icon: lucide-bug;
}

.callout[data-callout="example"] {
  --callout-icon: lucide-list;
}

.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  --callout-icon: quote-glyph;
}
