.prompt {
  --prompt-border-color: rgb(var(--ctp-surface1));

  .prompt-input[type="text"] {
    border: 0;
  }

  .prompt-results {
    background-color: var(--background-secondary);
    box-shadow:
      inset 0 0 10px rgb(var(--ctp-crust)),
      inset 0 0 12px rgb(var(--ctp-base));
  }

  &:hover .suggestion-hotkey {
    box-shadow:
      inset 0 0 2px rgb(var(--ctp-crust)),
      inset 0 0 4px rgb(var(--ctp-base));
  }
}

.suggestion-item.is-selected {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);

  & .suggestion-flair {
    color: var(--text-on-accent);
  }
}

.suggestion-item.mod-complex {
  .suggestion-hotkey {
    background-color: rgb(var(--ctp-surface0));
    color: var(--text-normal);
  }
}

.suggestion-item.mod-complex.is-selected .suggestion-note {
  color: var(--text-on-accent);
}
