@use "../abstracts/mixins";

/* css from sanctum theme, icons from heroicons https://heroicons.com/ */
/* stylelint-disable property-no-vendor-prefix */

/* folders */

/* closed folder */

.nav-folder.is-collapsed .nav-folder-title .nav-folder-title-content::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z' /%3E%3C/svg%3E");
}

.nav-folder.is-collapsed .nav-folder-title .nav-folder-title-content::before,
.nav-folder .nav-folder-title .nav-folder-title-content::before {
    background-color: currentColor;
    margin-right: 8px;
    background-repeat: no-repeat;
    vertical-align: -3px;
    height: 16px;
    width: 16px;

    &:hover {
        color: var(--text-on-accent);
    }
}

/* open folder */

.nav-folder .nav-folder-title .nav-folder-title-content::before {
    display: inline-block;
    content: "";
    font-size: 1rem;
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z' /%3E%3C/svg%3E");
}

.nav-folder-title-content::before,
.nav-file-title-content::before {
    display: inline-block;
    content: "";
    font-size: 1rem;
    vertical-align: -3px;
    height: 16px;
    width: 16px;
    background-size: 16px 16px;

    &:hover {
        color: var(--text-on-accent);
    }
}

/* file types */

/* images */

.nav-file-title:is([data-path$="bmp"], [data-path$="raw"], [data-path$="tiff"], [data-path$="gif"], [data-path$="svg"], [data-path$="jpg"], [data-path$="jpeg"], [data-path$="png"]) .nav-file-title-content::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z' /%3E%3C/svg%3E");
    margin-left: 1px;
}

.nav-file-title-content::before {
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    display: inline-block;
    margin-right: 8px;
    vertical-align: -3px;
}

/* text */

.nav-folder-children .nav-file-title-content:first-child::before {
    background-color: currentColor;
    display: inline-block;
    margin-right: 8px;
    margin-left: 1px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
}

/* file tags */

.nav-file-title > .nav-file-tag {
    order: 1;
}

.nav-file-tag {
    text-transform: lowercase;
    font-family: var(--not-editor);
    color: var(--text-muted);
    background-color: var(--black-3);
    margin: 1px 4px 0;
    position: relative;
    align-self: flex-start;
    top: 0.3em;
    letter-spacing: 1px;
    font-size: 0.67rem;
    font-weight: 400;
    padding: 0 2px 2px 3px;
    border: 1px solid var(--black-3);
}

/* TODO: other file types (audio?) */

/* tab header icons */

svg.calendar-with-checkmark {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z' /%3E%3C/svg%3E");
}

svg.hashtag {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 20l4-16m2 16l4-16M6 9h14M4 15h14' /%3E%3C/svg%3E");
}

svg.checkmark {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");
}

svg.links-going-out {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14' /%3E%3C/svg%3E");
}

svg.links-coming-in {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1' /%3E%3C/svg%3E");
}

svg.link {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1' /%3E%3C/svg%3E");
}

/* view action buttons */

.workspace-tab-header-inner {
    svg.folder {
        background-color: currentColor;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z' /%3E%3C/svg%3E");
    }
}

svg.reading-glasses {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z' /%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z' /%3E%3C/svg%3E");
}

svg.pencil {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z' /%3E%3C/svg%3E");
}

svg.close {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12' /%3E%3C/svg%3E");
}

svg.vertical-three-dots {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z' /%3E%3C/svg%3E");
}

/* nav action buttons */

.nav-action-button {
    svg.folder {
        background-color: currentColor;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z' /%3E%3C/svg%3E");
    }

    svg.document {
        background-color: currentColor;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
    }
}

svg.bullet-list {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 10h16M4 14h16M4 18h16' /%3E%3C/svg%3E");
}

svg.expand-vertically {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4' /%3E%3C/svg%3E");
}

svg.up-and-down-arrows {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4' /%3E%3C/svg%3E");
}

svg.search {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
}

/* dropdown arrow */

.dropdown,
.dropdown:focus {
    border: 1px solid hsl(238deg 100% 89% / 20%);
    box-shadow: 0 2px 2px inset hsl(254deg 25% 10%);
    border-radius: 8px;
    background-color: var(--background-primary-alt);
    font-size: var(--small-font-size);
    font-family: "Public Sans";
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23d7dae0%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
}

/* settings section */

.clickable-icon {
    svg.switch {
        background-color: currentColor;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15' /%3E%3C/svg%3E");
    }

    svg.folder {
        background-color: currentColor;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z' /%3E%3C/svg%3E");
    }
}

/* search panel icon */

svg.info {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
}

.suggestion-item.search-suggest-item.list-item.mod-group.is-selected .list-item-part.search-suggest-icon.clickable-icon {
    background-color: transparent;
    color: var(--text-on-accent);
    border: 0 solid transparent;
    box-shadow: none;
}

/* backlinks pane */

svg.link-glyph {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1' /%3E%3C/svg%3E");
}

/* titlebar */
.view-header-icon {
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
    left: 0.6rem;
    top: 0;
}

/* checkbox color, from shimmering-focus https://github.com/chrisgrieser/shimmering-focus
with small adjustments */

/* https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/34 */
input[type="checkbox"] {
    filter: unset; /* removes hue filter */
    cursor: pointer;
    padding: 1px;
    margin: 2px 10px 3px 0 !important;
    border: 2px solid var(--text-faint);
    border-radius: 1px;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: top;
}

ul li.task-list-item.is-checked {
    border-radius: 1px;
}

input[type="checkbox"]:checked {
    background-color: var(--active-interaction);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='hsl(254deg 25% 10%)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");
    border-width: 0;
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;

    @extend %link-transition;
}

.angular-shapes [type="checkbox"]:checked {
    background-size: 85%;
}

input[type="checkbox"]:checked:hover,
li[data-task="x"] > .task-list-item-checkbox:hover {
    background-color: var(--text-selection-opaque);
}

/* fix for legacy-editor, discussed here
https://discord.com/channels/686053708261228577/702656734631821413/920422345422819339 */
.markdown-source-view.mod-cm5 .cm-formatting.cm-formatting-task {
    margin-left: -10px;
}

input[type="checkbox"]:not(:checked) {
    background-color: var(--background-primary-alt);
    margin-top: 2px;
    margin-right: 10px;

    @extend %link-transition;

    &:hover {
        background-color: var(--text-selection-opaque);
    }
}
