select:focus,
.dropdown:focus {
  box-shadow: 0 0 0 2px rgb(var(--ctp-accent) / 70%);
}

textarea:active,
input[type="text"]:active,
input[type="search"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="number"]:active,
textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus-visible,
input[type="text"]:focus-visible,
input[type="search"]:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible,
input[type="number"]:focus-visible {
  box-shadow: 0 0 0 2px rgb(var(--ctp-accent) / 70%);
}

.checkbox-container {
  --background-modifier-border-hover: rgb(var(--ctp-red));

  box-shadow: 0 0 2px inset rgb(var(--ctp-base));

  &::after {
    --toggle-thumb-color: var(--text-on-accent);

    box-shadow: 0 0 4px rgb(var(--ctp-base));
  }

  &:hover {
    box-shadow: none;
  }
}

// Recolors copy button so it isn't broken on hover
.markdown-rendered button.copy-code-button {
  background-color: rgb(var(--ctp-crust));
}
