.cm-s-obsidian .cm-formatting-link.cm-url,
.cm-s-obsidian .cm-url,
.cm-s-obsidian .cm-link,
.cm-s-obsidian .cm-hmd-internal-link,
.markdown-source-view.mod-cm6 .cm-link .cm-underline,
.markdown-source-view.mod-cm6 .cm-url .cm-underline {
  text-decoration-color: transparent;
  text-decoration-line: underline;
  text-decoration-style: solid;
  transition: var(--transition-text-decoration-color);

  &:hover {
    text-decoration-color: inherit;
  }
}

.cm-s-obsidian .is-flashing .cm-hmd-internal-link,
.cm-s-obsidian .is-flashing .cm-hmd-internal-link:hover,
.cm-s-obsidian .is-flashing .cm-formatting-link-start.cm-formatting-link,
.cm-s-obsidian .is-flashing .cm-formatting-link-end.cm-formatting-link {
  --link-color: var(--text-on-accent);

  color: var(--link-color);
}

body:not(.ctp-tag-pill) {
  .cm-hashtag.cm-hashtag-end {
    text-decoration-color: transparent;
    text-decoration-line: underline;
    text-decoration-style: solid;
    transition: var(--transition-text-decoration-color);
  }

  .cm-hashtag.cm-hashtag-end:hover {
    text-decoration: underline 1px rgb(var(--ctp-tag-pill-color, var(--ctp-accent)));
    text-underline-offset: 1px;
  }

  .cm-hashtag::selection {
    text-shadow: 0.4px 0 0 rgb(var(--ctp-tag-pill-color, var(--ctp-accent)));
  }
}

/**
* 1. Restores default Obsidian settings to tags. See: #56
*/

.ctp-tag-pill {
  --tag-size: var(--font-smaller);
  --tag-decoration: none;
  --tag-decoration-hover: none;
  --tag-background: hsla(var(--interactive-accent-hsl), 0.1);
  --tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
  --tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
  --tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);
  --tag-border-width: 0px;
  --tag-padding-x: 0.65em;
  --tag-padding-y: 0.25em;
  --tag-radius: 2em;
  --tag-weight: inherit;
}

/**
* 1. Allow users to pick tag text color with Style Settings
*/

body {

}

.markdown-source-view.mod-cm6 .is-unresolved {
  & .cm-underline {
    text-decoration-line: none;
  }

  &:hover {
    color: rgb(var(--ctp-red));
    text-decoration-line: none;
  }
}

.cm-s-obsidian .cm-formatting-link-string.cm-url,
.cm-s-obsidian .cm-formatting-link.cm-link,
.cm-s-obsidian .cm-formatting-link.cm-hmd-barelink,
.cm-s-obsidian .cm-formatting-link.cm-formatting-link-start,
.cm-s-obsidian .cm-formatting-link.cm-formatting-link-end {
  color: rgb(var(--ctp-accent));
}

.empty-state-action {
  border-radius: var(--radius-s);
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}

@media (hover: hover) {
  .empty-state-action:hover {
    background-color: rgb(var(--ctp-accent));
    color: var(--text-on-accent);
  }
}

/**
* 1. Fix #97 highlighted link contrast issues
*/


.cm-s-obsidian .cm-highlight.cm-link .cm-underline {
  color: var(--text-on-accent);
  text-decoration: var(--text-on-accent) solid underline;

  &:hover {
    color: var(--text-on-accent);
    text-decoration-color: var(--text-on-accent);
  }
}

.cm-s-obsidian .cm-highlight.cm-link:hover,
.cm-s-obsidian .cm-highlight.cm-url:hover {
  color: var(--text-on-accent);
}
