.cm-s-obsidian span.cm-formatting-link.cm-url,
.cm-s-obsidian span.cm-url,
.markdown-source-view.mod-cm6 .cm-link .cm-underline,
.markdown-source-view.mod-cm6 .cm-url .cm-underline {
  text-decoration-color: transparent;
  text-decoration-line: underline;
  text-decoration-style: solid;
  transition: var(--transition-text-decoration-color);

  &:hover {
    text-decoration-color: inherit;
  }
}

.cm-hashtag.cm-hashtag-end {
  text-decoration-color: transparent;
  text-decoration-line: underline;
  text-decoration-style: solid;
  transition: var(--transition-text-decoration-color);
}

.cm-hashtag.cm-hashtag-end:hover {
  text-decoration: underline 1px rgb(var(--ctp-accent));
  text-underline-offset: 1px;
}

.cm-hashtag::selection {
  text-shadow: 0.4px 0 0 rgb(var(--ctp-crust));
}

.markdown-source-view.mod-cm6 .is-unresolved {
  & .cm-underline {
    text-decoration-line: none;
  }

  &:hover {
    color: rgb(var(--ctp-red));
    text-decoration-line: none;
  }
}

.cm-s-obsidian .cm-formatting-link-string.cm-url,
.cm-s-obsidian .cm-formatting-link.cm-link,
.cm-s-obsidian .cm-formatting-link.cm-hmd-barelink,
.cm-s-obsidian .cm-formatting-link.cm-formatting-link-start,
.cm-s-obsidian .cm-formatting-link.cm-formatting-link-end {
  color: rgb(var(--ctp-accent));
}
