.metadata-property[data-property-key='tags'] {
  // --pill-decoration: none;
  // --pill-border-color: var(--background-modifier-border);
  // --pill-border-color-hover: var(--background-modifier-border-hover);
  // --pill-border-width: var(--border-width);

  --pill-color: var(--color-blue);
  --pill-color-hover: var(--color-blue);
  --pill-color-remove: var(--text-muted);
  --pill-color-remove-hover: var(--color-red);
  --pill-background: hsla(var(--color-accent-hsl), 0.1);
  --pill-background-hover: hsla(var(--color-accent-hsl), 0.2);
  --pill-decoration-hover: none;
  --pill-padding-x: 0.65em;
  --pill-padding-y: 0.25em;
  --pill-radius: 2em;
  --pill-weight: inherit;

  box-shadow: var(--shadow-bevel);
}

.multi-select-pill-remove-button {
  margin-left: var(--size-2-1);
}
