.cm-s-obsidian span.obsidian-search-match-highlight {
  color: var(--text-on-accent);
  box-shadow: 0 0 0 3px rgb(var(--ctp-accent));
  background-color: rgb(var(--ctp-rosewater));
}

.search-result-file-matches {
  background-color: rgb(var(--background-secondary));
  color: var(--text-normal);
}

/*
* Prevents super strong box-shadow when using arrow keys to highlight searches
*/
.workspace-leaf.mod-active .search-result.has-focus .tree-item-self,
.workspace-leaf.mod-active .search-result-file-match.has-focus {
  box-shadow: inset 0 0 0 1px rgb(var(--ctp-accent));
}

@media (hover: hover) {
  .search-result-file-match:hover .search-result-file-match-destination-file {
    background-color: var(--background-secondary);
  }

  .search-result-file-match:hover {
    background-color: rgb(var(--ctp-accent), 80%);
    color: var(--text-on-accent);
  }

  .search-result-file-match:hover .search-result-file-match-destination-file:hover {
    background-color: var(--interactive-hover);
    box-shadow: var(--input-shadow-hover);
    color: var(--text-normal);
  }
}

.search-suggest-item.is-selected {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);

  .search-suggest-info-text {
    color: var(--text-on-accent);
  }
}

.suggestion .suggestion-item.mod-group {
  background-color: inherit;
  color: var(--text-muted);
  font-size: var(--font-ui-medium);
  font-variant: all-small-caps;
}

.search-suggest-item.is-selected {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);

  .list-item-part.clickable-icon {
    color: var(--text-muted);
  }

  .search-suggest-info-text {
    color: var(--text-on-accent);
  }
}

.list-item-part.clickable-icon:hover,
.list-item-part.clickable-icon:active {
  background-color: rgb(var(--ctp-accent));
}

.search-result-file-match {
  transition: var(--transition-hover-bg);
}

.search-result-file-match:hover .search-result-file-matched-text {
  background-color: rgb(var(--ctp-rosewater), 60%);
  color: var(--text-on-accent);
}

.search-result-file-matched-text {
  background-color: rgb(var(--ctp-rosewater));
  color: var(--text-on-accent);
}

.is-flashing,
.cm-s-obsidian .is-flashing .cm-url {
  --tag-color: var(--text-on-accent);

  background-color: rgb(var(--ctp-rosewater));
  color: var(--text-on-accent);
}

.is-flashing .cm-quote.cm-quote {
  color: var(--text-on-accent);
}

.cm-s-obsidian .is-flashing .cm-url .cm-underline:hover,
.cm-s-obsidian .is-flashing span.cm-url:hover {
  --link-external-color-hover: var(--text-on-accent);
}

.community-item .suggestion-highlight {
  color: var(--text-on-accent);
}

.community-item:hover {
  --background-modifier-border-hover: rgb(var(--ctp-accent));
}

.community-item.is-selected,
.community-item.is-selected:hover {
  --interactive-accent: rgb(var(--ctp-mauve));
}
