.search-result-file-match:hover .search-result-file-match-destination-file:hover {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);
}

.search-suggest-item.is-selected {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);

  .search-suggest-info-text {
    color: var(--text-on-accent);
  }
}

.suggestion .suggestion-item.mod-group {
  background-color: inherit;
  color: var(--text-muted);
  font-size: var(--font-ui-medium);
  font-variant: all-small-caps;
}

.search-suggest-item.is-selected {
  background-color: rgb(var(--ctp-accent));
  color: var(--text-on-accent);

  .list-item-part.clickable-icon {
    color: var(--text-muted);
  }

  .search-suggest-info-text {
    color: var(--text-on-accent);
  }
}

.list-item-part.clickable-icon:hover,
.list-item-part.clickable-icon:active {
  background-color: rgb(var(--ctp-accent));
}


.search-result-file-match {
  transition: var(--transition-hover-bg);
}
.search-result-file-match:hover {
  background-color: rgb(var(--ctp-rosewater));
  color: var(--text-on-accent);
}

.search-result-file-match:hover .search-result-file-matched-text {
  color: var(--text-normal);
  background-color: var(--color-base-30);
}

.search-result-file-matched-text {
  color: var(--text-on-accent);
}

.is-flashing,
.cm-s-obsidian .is-flashing .cm-url {
  color: var(--text-on-accent);
}

.cm-s-obsidian .is-flashing .cm-url .cm-underline:hover {
  color: var(--text-on-accent);
}

