.status-bar-item {
  transition: var(--transition-hover-bg), var(--transition-hover-color);
}

.status-bar-item.mod-clickable:hover {
  --background-modifier-hover: rgb(var(--ctp-accent));
  color: var(--text-on-accent);
}
