.theme-dark:not(.css-settings-manager),
.theme-light:not(.css-settings-manager),
.ctp-full-palette {
  --blockquote-border-color: rgb(var(--ctp-lavender));
  --ctp-accent: var(--ctp-lavender);
  --divider-color-hover: rgb(var(--ctp-blue));
  --hr-color: rgb(var(--ctp-blue));
  --indentation-guide-color: rgb(var(--ctp-surface1));
  --indentation-guide-color-active: rgb(var(--ctp-sapphire), 0.7);
  --indentation-guide-width: 2px;
  --list-marker-color: rgb(var(--ctp-sapphire));
  --checklist-done-color: rgb(var(--ctp-green));

  .workspace-tab-header-inner-close-button:hover {
    box-shadow: none;
  }

  /*
  * Nav bar
  */

  .nav-file-title.is-active,
  .nav-folder-title.is-active {
    background-color: rgb(var(--ctp-mauve));
  }

  :not(.is-grabbing) .nav-file-title:hover,
  :not(.is-grabbing) .nav-folder-title:hover,
  .tree-item-self.is-clickable:hover {
    color: var(--text-on-accent);
    background-color: rgb(var(--ctp-accent));
  }

  .nav-folder.mod-root > .nav-folder-title:hover {
    background-color: transparent;
    color: rgb(var(--text-normal));
  }

  /*
  * Icons
  */

  .clickable-icon.is-active,
  .mod-left-split .workspace-tab-header.has-active-menu,
  .mod-right-split .workspace-tab-header.has-active-menu,
  .mod-left-split .workspace-tab-header.is-active,
  .mod-right-split .workspace-tab-header.is-active {
    transition: var(--transition-hover-bg), var(--transition-hover-box-shadow);
    box-shadow: inset 0 0 4px rgb(var(--ctp-crust)),
      inset 0 0 6px rgb(var(--ctp-base));
    outline: 1px solid rgb(var(--ctp-surface1));

    svg {
      color: rgb(var(--ctp-pink));
      /* extra long to prevent weird super fast move */
      transition: background-color 4s ease-in-out;
    }

    &:hover,
    &:hover svg {
      background-color: rgb(var(--ctp-pink));
      box-shadow: none;
      color: var(--text-on-accent);
    }
  }

  .clickable-icon,
  .mod-left-split .workspace-tab-header,
  .mod-right-split .workspace-tab-header {
    transition: var(--transition-hover-bg);
    &:hover {
      background-color: rgb(var(--ctp-pink));
      color: var(--text-on-accent);
    }

    &:hover svg {
      color: var(--text-on-accent);
    }
  }

  .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
    --background-modifier-hover: rgb(var(--ctp-pink));
  }

  .workspace
    .mod-root
    .workspace-tabs.mod-stacked
    .workspace-tab-container
    .workspace-tab-header-inner-icon:hover {
    background-color: transparent;
  }

  .mod-vertical .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner svg {
    color: var(--icon-color);
  }

  /*
  * Tabs
  */

  .workspace
    .mod-root
    .workspace-tabs.mod-stacked
    .workspace-tab-header-inner:hover
    .workspace-tab-header-inner-title {
    color: rgb(var(--ctp-pink)); // change to pink in full palette
  }

  .mod-vertical
    .workspace-tabs.mod-stacked
    .workspace-tab-header:not(.is-active):hover
    .workspace-tab-header-inner
    .workspace-tab-header-inner-title {
      color: rgb(var(--ctp-pink));
  }

  /*
  * Prompts
  */

  .suggestion-item.is-selected {
    --background-modifier-hover: rgb(var(--ctp-lavender));
    color: var(--text-on-accent);

    &:hover .suggestion-flair {
      color: var(--text-on-accent);
    }
  }

  /*
  * Search
  */
  .suggestion .suggestion-item.mod-group {
    background-color: inherit;
    color: var(--text-muted);
    font-size: var(--font-ui-medium);
    font-variant: all-small-caps;
  }

  .search-suggest-item.is-selected {
    background-color: rgb(var(--ctp-accent));
    color: var(--text-on-accent);

    .list-item-part.clickable-icon {
      color: var(--text-muted);
    }

    .search-suggest-info-text {
      color: var(--text-on-accent);
    }
  }

  /*
  * Dropdowns
  */

  select:focus,
  .dropdown:focus {
    box-shadow: 0 0 0 2px rgba(var(--ctp-blue), 0.7);
  }

  textarea:active,
  input[type="text"]:active,
  input[type="search"]:active,
  input[type="email"]:active,
  input[type="password"]:active,
  input[type="number"]:active,
  textarea:focus,
  input[type="text"]:focus,
  input[type="search"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  textarea:focus-visible,
  input[type="text"]:focus-visible,
  input[type="search"]:focus-visible,
  input[type="email"]:focus-visible,
  input[type="password"]:focus-visible,
  input[type="number"]:focus-visible {
    box-shadow: 0 0 0 2px rgba(var(--ctp-blue), 0.7);
  }

  /*
  * Checkboxes
  */
  input[type="checkbox"]:not(:checked) {
    border-color: rgb(var(--ctp-maroon));
    background-color: rgb(var(--ctp-red));
    box-shadow: inset 4px 4px 12px rgb(var(--ctp-mantle)),
      inset -4px -4px 12px rgb(var(--ctp-mantle));

    &:hover {
      border-width: 2px;
    }
  }

  input[type="checkbox"]:checked {
    border-color: transparent;
    background-color: rgb(var(--ctp-green));
    box-shadow: 0 0 0 1px rgb(var(--ctp-green), 0.4);

    &:hover {
      background-color: rgb(var(--ctp-maroon));
      box-shadow: 0 0 0 1px rgb(var(--ctp-maroon), 0.4);
    }
  }

  .horizontal-tab-nav-item:hover,
  .vertical-tab-nav-item:hover {
    background-color: rgb(var(--ctp-accent));
    color: var(--text-on-accent);
  }

  .horizontal-tab-nav-item.is-active,
  .vertical-tab-nav-item.is-active {
    background-color: rgb(var(--ctp-mauve));

    &:hover {
      background-color: rgb(var(--ctp-accent));
    }
  }

  /*
? I think !important is necessary to overwrite app.css's
*/
  .HyperMD-header .cm-formatting-header {
    color: rgb(var(--ctp-sapphire));
    font-size: 75% !important;
  }

  /*
  *  settings slider
  */
  .mod-settings {
    & input.slider {
      --slider-track-background: rgb(var(--ctp-green));
    }

    & input[type="color"]::-webkit-color-swatch:hover {
      box-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.25),
        0 0 0 2px rgb(var(--ctp-surface1));
    }
  }
}
