/* changed from app.css */

.cm-s-obsidian div.HyperMD-codeblock-bg {
    border-left: 0.15rem solid var(--border);
    border-right: 0.15rem solid var(--border);
    padding-left: 2rem;
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
    border-top: 0.15rem solid var(--border);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.cm-s-obsidian div.HyperMD-codeblock-end-bg {
    border-bottom: 0.15rem solid var(--border);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.cm-s-obsidian .HyperMD-codeblock-begin,
.cm-s-obsidian .HyperMD-codeblock-end {
    color: var(--text-accent);
}

.markdown-preview-view pre {
    border-radius: 8px;
    padding-left: 25px;
}
