body {
  --font-text-theme:
    "Vollkorn",
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    "Microsoft YaHei Light",
    roboto,
    inter,
    sans-serif;
  --font-interface-theme:
    "Nunito Sans",
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    "Microsoft YaHei Light",
    roboto,
    inter,
    sans-serif;
}

strong,
.cm-strong {
  --bold-color: rgb(var(--ctp-bold, var(--ctp-sapphire)));
}

em,
.cm-em {
  --italic-color: rgb(var(--ctp-italic, var(--ctp-green)));
}

del,
.cm-strikethrough {
  color: rgb(var(--ctp-strikethrough, var(--ctp-maroon)));
}

.markdown-rendered blockquote,
.cm-s-obsidian span.cm-quote {
  --blockquote-border-color: rgb(var(--ctp-blockquote, var(--ctp-accent)));
  --blockquote-color: rgb(var(--ctp-blockquote, var(--ctp-rosewater)));
}

.cm-em.cm-strong,
strong > em,
em > strong {
  color: rgb(var(--ctp-teal));
}

.markdown-source-view ol > li,
.markdown-source-view ul > li,
.markdown-preview-view ol > li,
.markdown-preview-view ul > li,
.markdown-rendered ul > li,
.mod-cm6 .HyperMD-list-line.cm-line {
  padding-top: 0;
  padding-bottom: 0;
}

.inline-title {
  --inline-title-color: rgb(var(--ctp-page-title, var(--ctp-text)));
}

h1,
.markdown-rendered h1,
.HyperMD-header-1,
.HyperMD-list-line .cm-header-1 {
  --h1-color: rgb(var(--ctp-h1, var(--ctp-accent)));

  line-height: var(--h1-line-height);
}

h2,
.markdown-rendered h2,
.HyperMD-header-2,
.HyperMD-list-line .cm-header-2 {
  --h2-color: rgb(var(--ctp-h2, var(--ctp-accent)));

  line-height: var(--h2-line-height);
}

h3,
.markdown-rendered h3,
.HyperMD-header-3,
.HyperMD-list-line .cm-header-3 {
  --h3-color: rgb(var(--ctp-h3, var(--ctp-accent)));

  line-height: var(--h3-line-height);
}

h4,
.markdown-rendered h4,
.HyperMD-header-4,
.HyperMD-list-line .cm-header-4 {
  --h4-color: rgb(var(--ctp-h4, var(--ctp-accent)));

  line-height: var(--h4-line-height);
}

h5,
.markdown-rendered h5,
.HyperMD-header-5,
.HyperMD-list-line .cm-header-5 {
  --h5-color: rgb(var(--ctp-h5, var(--ctp-accent)));

  line-height: var(--line-height-normal);
}

h6,
.markdown-rendered h6,
.HyperMD-header-6,
.HyperMD-list-line .cm-header-6 {
  --h6-color: rgb(var(--ctp-h6, var(--ctp-accent)));

  line-height: var(--line-height-normal);
}

.markdown-source-view.mod-cm6 .cm-indent::before {
  width: 0;
}

.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  left: -13px;
}

/* markdown ==highlight== colors */
.markdown-rendered mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: rgb(var(--ctp-rosewater));
  color: var(--text-on-accent);

  &.cm-em,
  em {
    background-image:
      linear-gradient(
        rgb(var(--ctp-green), 40%),
        rgb(var(--ctp-green), 60%),
        rgb(var(--ctp-green), 60%),
      );
    color: var(--text-on-accent);
    text-align: left;
  }

  &.cm-strong,
  strong {
    background-image:
      linear-gradient(
        rgb(var(--ctp-sapphire), 40%),
        rgb(var(--ctp-sapphire), 60%),
        rgb(var(--ctp-sapphire), 40%)
      );
    color: var(--text-on-accent);
  }

  &.cm-strikethrough,
  del {
    background-image:
      linear-gradient(
        rgb(var(--ctp-red), 40%),
        rgb(var(--ctp-red), 60%),
        rgb(var(--ctp-red), 40%)
      );
    color: var(--text-on-accent);
  }
}

::selection {
  color: var(--text-on-accent);
}

.cm-s-obsidian span.cm-error {
  color: rgb(var(--ctp-red));
}

.tooltip {
  border: 1px solid rgb(var(--ctp-rosewater), 60%);
  background-color: var(--background-secondary);
  box-shadow: 0 0 4px rgb(var(--ctp-mantle));
  color: rgb(var(--ctp-rosewater), 80%);
}

/*
* From app.css
*/

/*
* TODO: Add border to popups that appear during plugin, theme, etc.
* updates.
*/

/* Triangle hack to make tooltip look like a speech bubble */
.tooltip .tooltip-arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  width: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgb(var(--ctp-rosewater), 60%);
  border-left: 5px solid transparent;
  margin-left: -5px;
  content: " ";
  font-size: 0;
  line-height: 0;
}

.tooltip.mod-right .tooltip-arrow {
  top: calc(50% - 5px);
  left: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid rgb(var(--ctp-rosewater), 60%);
  border-bottom: 5px solid transparent;
}

.tooltip.mod-left .tooltip-arrow {
  top: calc(50% - 5px);
  left: calc(100% + 5px);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid rgb(var(--ctp-rosewater), 60%);
}

.tooltip.mod-top .tooltip-arrow {
  top: calc(100%);
  border-top: 5px solid rgb(var(--ctp-rosewater), 60%);
  border-bottom: 5px solid transparent;
}

.tooltip.mod-error .tooltip-arrow {
  border-bottom-color: rgb(var(--ctp-red), 60%);
}

.tooltip.mod-error.mod-right .tooltip-arrow {
  border-right-color: rgb(var(--ctp-red), 60%);
  border-bottom: 5px solid transparent;
}

.tooltip.mod-error.mod-left .tooltip-arrow {
  border-bottom: 5px solid transparent;
  border-left-color: rgb(var(--ctp-red), 60%);
}
