:root {
  --default-font: "Vollkorn", "Gentium Book Basic",
    -apple-system, blinkmacsystemfont, "Segoe UI",
    "Microsoft YaHei Light", sans-serif;
  --font-monospace: "Mononoki Nerd Font Mono", sfmono-regular,
    consolas, "Roboto Mono", monospace;
}

body {
  --font-text-theme: "Vollkorn", -apple-system,
    blinkmacsystemfont, "Segoe UI", "Microsoft YaHei Light",
    inter, sans-serif;
  --font-interface-theme: "Public Sans", -apple-system,
    system-ui, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", arial, sans-serif;
}

::selection {
  color: var(--text-on-accent);
}

.markdown-source-view.mod-cm6 .cm-indent::before {
  width: 0;
}

.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  left: -13px;
}

.cm-hashtag.cm-hashtag-end:hover {
  text-decoration: underline 1px var(--text-normal);
  text-decoration-thickness: 2px;
}

.cm-hashtag::selection {
  text-shadow: 0.4px 0 0 black;
}

.markdown-source-view.mod-cm6 .is-unresolved {
  & .cm-underline {
    text-decoration-line: none;
  }

  &:hover {
    color: rgb(var(--ctp-red));
    text-decoration-line: none;
  }
}

.tooltip {
  color: rgb(var(--ctp-rosewater));
}
