.modal.mod-settings {
    font-family: var(--not-editor);
}

.checkbox-container.is-enabled {
    background-color: var(--active-interaction);
}

.checkbox-container.is-enabled::after {
    background-color: var(--background-primary);
}

.checkbox-container::after {
    background-color: var(--text-normal);
}

/* from yin yang theme */
.checkbox-container {
    background-color: var(--text-on-accent);
}

input[type="range"] {
    background-color: var(--text-on-accent);
}

input[type="range"]::-webkit-slider-thumb {
    background: var(--internal-buttons);
}

.vertical-tab-header-group-title,
.vertical-tab-nav-item {
    font-size: var(--small-font-size);
    background-color: var(--background-primary);
}

.vertical-tab-nav-item:hover:not(.vertical-tab-nav-item.is-active) {
    background-color: var(--text-selection-opaque);
    color: var(--text-on-accent);
    transition: var(--link-transition);
}

.vertical-tab-header,
.horizontal-tab-content,
.vertical-tab-content {
    background-color: var(--background-primary);
}

.vertical-tab-header {
    border-right: 2px solid var(--background-modifier-border);
}

.modal.mod-settings .vertical-tab-content-container {
    background-color: var(--background-primary);
}

.setting-item {
    border-top: 2px solid var(--background-modifier-border);
}

.horizontal-tab-nav-item.is-active,
.vertical-tab-nav-item.is-active {
    background-color: var(--background-modifier-border);
    border-left-color: var(--active-interaction);
}

.suggestion-container .suggestion-item.is-selected {
    background-color: var(--text-selection-opaque);
    color: var(--text-on-accent);
}

.modal-close-button:hover {
    color: var(--internal-buttons);
}

.community-plugin-details {
    background-color: var(--black-0);
}

.community-plugin-info hr {
    border-color: var(--border-inset);
}

.community-plugin-item:hover, {
    background-color: var(--text-selection-opaque);

    *:not(.flair.mod-pop) {
        color: var(--text-on-accent);
    }
}

.community-theme.is-selected {
    background-color: var(--black-2);
    border: 1px solid var(--active-interaction);
    color: var(--text-muted);

    .community-theme-info,
    .community-theme-downloads {
        color: var(--text-muted);
    }

    button {
        color: var(--text-muted);
        background-color: var(--black-0);

        &:hover {
            background-color: var(--internal-buttons);
            color: var(--text-on-accent);
        }
    }
}

.community-theme {
    background-color: var(--black-2);
    border: var(--border-default);
    border-radius: var(--border-radius-medium);

    .community-theme-info .clickable-icon {
        padding: 0;
        margin-right: 2px;
        height: min-content;
    }
}

/* from app.css */
.community-theme-remove-button {
    vertical-align: middle;
    color: var(--text-faint);
    position: absolute;
    background: inherit;
    padding: 3px 5px 1px;
    border-radius: var(--border-radius-medium);
}

.clickable-icon {
    border-radius: var(--border-radius-medium);
    line-height: 0;
    margin: var(--margin-small);
    padding: var(--padding-medium);

    &:hover {
        color: var(--internal-buttons);
        background-color: var(--black-0);
        box-shadow: 0 0 0 2px inset var(--border);
        stroke-width: 4px;
    }
}

/* translatex, y from Só Erick Mesmo  */
.checkbox-container {
    cursor: pointer;
    background-color: var(--black-0);
    border: 1px solid hsl(235deg 17% 29% / 60%);
    box-shadow: var(--box-shadow-inset-large);
    border-radius: var(--border-radius-small);
    display: inline-block;
    height: 22px;
    position: relative;
    user-select: none;
    width: 42px;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.checkbox-container.is-enabled {
    background-color: var(--black-0);
    box-shadow: var(--box-shadow-inset-large);
    border-radius: var(--border-radius-small);
}

.checkbox-container.is-enabled::after {
    transform: translate3d(19px, 0, 0);
    transform: translateX(155%) translateY(17%);
    background-color: var(--interactive-accent);
}

.checkbox-container.is-enabled:active::after {
    left: -4px;
}

.checkbox-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.checkbox-container::after {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    background-color: var(--maroon);
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: var(--border-radius-small);
    transition: transform 0.3s ease-in-out, width 0.2s ease-in-out, left 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
    left: 0;
    transform: translate3d(3px, 0, 0);
    transform: translateX(35%) translateY(17%);
}

.checkbox-container:active::after {
    width: 20px;
}
