.workspace-tabs .workspace-leaf.mod-active {
  border: none;
}

.workspace-tabs .workspace-leaf {
  border: none;
}

.nav-files-container {
  padding: 18px 4px;
}

.nav-folder-title-content,
.nav-file-title-content {
  text-transform: lowercase;
  font-family: var(--not-editor);
  font-size: var(--small-font-size);
  border: none;
  margin: 1px 0 0;
  padding-right: 10px;
}

.nav-folder.mod-root > .nav-folder-title .nav-folder-title-content,
.pane-list-item-ending-flair:not(.tag-pane-tag-count) {
  display: none;
}

.nav-folder-collapse-indicator {
  display: none;
}

.nav-file-title {
  margin: 2px 0;
}

.nav-file-title,
.nav-folder-title,
.nav-file,
.nav-folder-children {
  background-color: var(--black-2);
  color: var(--text-muted);
  border: none;
  border-radius: 4px;
  transition: var(--link-transition);
  max-width: fit-content;
  min-width: 0;
}

// Files and folders being hovered in nav bar

body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--text-selection-opaque);
  color: var(--text-on-accent);
}

/* file or folder is being dragged or selected */

body:not(.is-grabbing) .nav-file-title.is-being-dragged,
body:not(.is-grabbing) .nav-folder-title.is-being-dragged,
.nav-file-title.is-being-dragged,
.nav-folder-title.is-being-dragged,
.workspace-leaf.mod-active .nav-file.has-focus {
  background-color: var(--pink);
  color: var(--text-on-accent);
  border: none;

  &:hover {
    background-color: var(--text-selection-opaque);
  }
}

/* file or folder has active menu */

.nav-file-title.is-active,
.workspace-leaf.mod-active .nav-folder.has-focus .nav-folder-title.has-active-menu,
body:not(.is-grabbing) .nav-file-title.has-active-menu,
.nav-folder-title.has-active-menu,
.nav-folder.mod-root .has-active-menu, {
  background-color: var(--pink);
  color: var(--text-on-accent);
}

/* folders that are having things dragged over them */
.nav-file-title.is-being-dragged-over,
.nav-folder-title.is-being-dragged-over {
  background-color: var(--internal-buttons);
  color: var(--text-on-accent);
}

/* prevents folder that has been active from remaining highlighted when user
goes somewhere else */
.workspace-leaf.mod-active .nav-folder.has-focus > .nav-folder-title,
.workspace-leaf.mod-active .nav-file.has-focus > .nav-file-title {
  background-color: var(--pink);
  color: var(--text-on-accent);
  border: none;
}

/* Fix for what seems to be uncommon problem where an invisible
div will cause unrelated folder to move slightly on open/close */
// .nav-folder .nav-folder-children {
//   display: none;
// }

.nav-file-title-content.is-being-renamed,
.nav-folder-title-content.is-being-renamed {
  border: 0;
  border-radius: var(--border-radius-small);
  background-color: var(--pink);
  color: var(--text-on-accent);

  &:hover {
    background-color: var(--pink);
  }
}

/* absolute nightmare to wrangle! use nested ::selector to change
highlight. #TODO: Fix file type */
.nav-file-folder-content.is-being-renamed[contenteditable="true"],
.nav-file-title-content.is-being-renamed[contenteditable="true"] {
  background-color: var(--pink);
  color: var(--text-on-accent);

  &::selection {
    background-color: var(--text-normal);
  }
}

.workspace-leaf.mod-active .nav-folder.has-focus > .nav-folder-title:focus-within,
.workspace-leaf.mod-active .nav-file.has-focus:focus-within {
  border: none;
}

.backlink-pane,
.outgoing-link-pane {
  font-family: var(--not-editor);
  font-size: var(--small-font-size);
}

.tree-item-self.is-clickable {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-transform: lowercase;
  font-family: var(--not-editor);
  font-size: var(--small-font-size);
  padding: 3px 10px;
  border: none;
}

.tree-item-flair {
  color: var(--text-normal);
  background-color: transparent;
  text-underline-offset: var(--text-underline);
  font-family: var(--default-font);
}

.tree-item-self:hover .tree-item-flair,
.tree-item-self.is-clickable:hover,
.tag-pane-tag-count.tree-item.flair:hover .tree-item-flair-outer:hover, {
  background-color: var(--text-selection-opaque);
  color: var(--text-on-accent);
  transition: var(--link-transition);
}

/* Otherwise number after tag moves too fast */
.tree-item-self:hover .tree-item-flair {
  transition: background-color 4s ease-in;
}

.search-result-file-matches .search-result-file-match {
  background-color: var(--background-primary-alt);
  box-shadow: var(--box-shadow-inset-small);
  padding-right: 15px;

  &:hover {
    box-shadow: var(--box-shadow-inset-small-hover);
  }
}

.search-result-file-match:hover .search-result-file-match-destination-file,
.search-result-file-match .search-result-file-match-destination-file {
  background-color: hsl(253deg 18% 20%);
  color: var(--text-normal);
  border: var(--text-selection) 1px solid;
  text-decoration: var(--text-decoration-standard);

  &:hover {
    background-color: hsl(253deg 18% 20%);
    color: var(--interactive-accent);
  }
}

.workspace-ribbon {
  background-color: var(--background-primary);
}
