/* There is a lot of weird stuff here that might seem
unnecessary but most of it is to cover up small areas around
the buttons in side panels. */

.workspace-tabs {
  background-color: var(--background-primary);
  transition: var(--link-transition);
}

.workspace-tab-container-before,
.workspace-tab-container-after {
  display: none;
}

.workspace-tab-header-container {
  background-color: var(--background-primary);
  height: min-content;
  line-height: 0;
  padding: 0 20px 4px 8px;
  margin-bottom: 0;
  transition: var(--link-transition);
}

.workspace-tab-container-inner {
  flex-wrap: wrap;
  justify-content: center;
  border-radius: var(--border-radius-medium);
  border: var(--border-default);
  box-shadow: var(--box-shadow-inset-large);
  background-color: var(--background-primary-alt);
}

.workspace-tab-header.is-active {
  background-color: transparent;
  height: fit-content;

  .workspace-tab-header-inner {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-small);
    color: var(--active-interaction);
    border-radius: var(--border-radius-medium);

    &:hover {
      color: var(--text-normal);
    }
  }
}

.workspace-tab-header.is-after-active,
.workspace-tab-header.is-before-active {
  background-color: transparent;
  color: var(--text-muted);
  padding: 0;
  margin: 0;
  height: fit-content;
}

.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
  background-color: transparent;

  &:hover {
    background-color: var(--background-primary);
    color: var(--internal-buttons);
    box-shadow: var(--box-shadow-small);
  }
}

.workspace-tab-header-inner {
  border-radius: var(--border-radius-medium);
  padding: var(--padding-medium);
  margin: 5px;
  height: fit-content;
  transition: var(--link-transition);

  &:hover {
    background-color: var(--background-primary);
    color: var(--internal-buttons);
    box-shadow: var(--box-shadow-small) -hover;
  }
}

// .nav-header {
//   max-width: 100%;
//   padding: 5px 10px;
// }

/* fix for tab pane buttons, messy */

.workspace-tabs .nav-header {
  max-width: fit-content;
  max-height: fit-content;
  line-height: 0;
  padding: 4px 20px 4px 8px;

  & .nav-buttons-container > .nav-action-button {
    color: var(--text-muted);
    padding: var(--padding-medium);
    margin: var(--margin-small);
    transition: var(--link-transition);

    &:hover {
      background-color: var(--background-primary);
      color: var(--internal-buttons);
      box-shadow: var(--box-shadow-small) -hover;
    }
  }

  & .nav-buttons-container > .nav-action-button.is-active {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-small);
    color: var(--active-interaction);
    border-radius: var(--border-radius-medium);

    &:hover {
      color: var(--text-normal);
    }
  }
}

.workspace-tabs .nav-buttons-container {
  border-radius: var(--border-radius-medium);
  padding: var(--padding-small);
  border: var(--border-default);
  box-shadow: var(--box-shadow-inset-large);
  background-color: var(--background-primary-alt);
}

.workspace-split .mod-right-split .nav-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-medium);
  padding: var(--padding-medium);
  margin: var(--margin-small);
  color: var(--text-faint);
  transition: var(--link-transition);
  background-color: var(--background-primary);

  &:hover {
    color: var(--internal-buttons);
    background-color: var(--black-0);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 0 0 2px var(--border);
  }
}

.embedded-backlinks .nav-header .nav-buttons-container {
  border-radius: var(--border-radius-medium);
  border: var(--border-default);
  box-shadow: var(--box-shadow-inset-large);
  background-color: var(--background-primary-alt);
  margin: auto;
  width: fit-content;
  padding: var(--padding-small);

  .nav-action-button.is-active {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-small);
    color: var(--active-interaction);
    border-radius: var(--border-radius-medium);

    &:hover {
      color: var(--text-normal);
    }
  }

  .nav-action-button {
    color: var(--text-muted);
    padding: var(--padding-medium);
    margin: var(--margin-small);
    line-height: 0;

    &:hover {
      background-color: var(--background-primary);
      color: var(--internal-buttons);
      box-shadow: var(--box-shadow-small) -hover;
    }
  }
}

.search-empty-state {
  font-size: var(--font-size-small);
}

.tag-container {
  font-family: var(--not-editor);
}
