body:not(.is-mobile) .workspace-leaf.mod-active .view-header-title {
  color: var(--text-muted);
  font-weight: 400;
  text-decoration: var(--text-decoration-titlebar);
  font-size: var(--large-font-size);
  font-family: var(--not-editor);
  letter-spacing: 1px;
  padding-left: 1rem;
}

.view-header-title-container::after {
  display: none;
}

.titlebar-text {
  font-family: var(--not-editor);
  visibility: hidden;
}

.view-header {
  height: fit-content;
  align-items: center;
  border-radius: var(--border-radius-medium);
  border: none;
}

.workspace-split.mod-root {
  background-color: var(--background-primary);

  > .workspace-leaf:first-of-type:last-of-type .view-header {
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: var(--crust);
  }
}

/* no idea what is supposed to go here right now  */
.workspace-drop-overlay.mod-drag {
  opacity: 0;
}

body:not(.plugin-sliding-panes-rotate-header):not(.is-mobile) .view-actions .view-action {
  color: var(--text-faint);
  display: flex;
  line-height: 1;
  padding: var(--padding-medium);
  position: static;
  margin: var(--margin-small);
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-medium);
  transition: var(--link-transition);

  &:hover {
    color: var(--internal-buttons);
    background-color: var(--black-0);
    box-shadow: var(--box-shadow-inset-small);
    stroke-width: 4px;
  }
}

.workspace-leaf.mod-active .view-header {
  border-bottom: 0 solid transparent;
  background-color: var(--background-primary);
  border-radius: var(--border-radius-medium);
}

.view-header-title {
  color: var(--text-muted);
  font-weight: 400;
  text-decoration: var(--text-decoration-titlebar);
  font-size: var(--large-font-size);
  font-family: var(--not-editor);
  letter-spacing: 1px;
  padding-left: 1rem;
}

/* Fix for Windows 10 missing close, minimize, maximize */
.titlebar-inner {
  color: var(--text-faint);
}

.titlebar-button-container.mod-left {
  visibility: hidden;
}

.titlebar-button.mod-minimize:hover,
.titlebar-button.mod-maximize:hover,
.titlebar-button.mod-close:hover {
  background-color: var(--background-primary);
  color: var(--text-normal);
}

// .view-actions a.view-action svg {
//   height: 18px;
//   width: 20px;
// }
