/* from _mocha.scss https://github.com/catppuccin/palette/blob/main/scss */
$rosewater: hsl(10deg 56% 91%);
$flamingo: hsl(0deg 59% 88%);
$pink: hsl(316deg 72% 86%);
$mauve: hsl(267deg 84% 81%);
$red: hsl(343deg 81% 75%);
$maroon: hsl(350deg 65% 77%);
$peach: hsl(23deg 92% 75%);
$yellow: hsl(41deg 86% 83%);
$green: hsl(115deg 54% 76%);
$teal: hsl(170deg 57% 73%);
$sky: hsl(189deg 71% 73%);
$sapphire: hsl(199deg 76% 69%);
$blue: hsl(217deg 92% 76%);
$lavender: hsl(232deg 97% 85%);
$text: hsl(226deg 64% 88%);
$subtext1: hsl(227deg 35% 80%);
$subtext0: hsl(228deg 24% 72%);
$overlay2: hsl(228deg 17% 64%);
$overlay1: hsl(230deg 13% 55%);
$overlay0: hsl(231deg 11% 47%);
$surface2: hsl(233deg 12% 39%);
$surface1: hsl(234deg 13% 31%);
$surface0: hsl(237deg 16% 23%);
$base: hsl(240deg 21% 15%);
$mantle: hsl(240deg 21% 12%);
$crust: hsl(240deg 23% 9%);

/* make any changes to colors in base.scss instead */

/* cursor, urls */
$rosewater: hsl(10deg 56% 91%);
$flamingo: hsl(0deg 59% 88%);
$mauve: hsl(279deg 70% 83%);

/* active tab in foreground */
$pink: hsl(316deg 72% 86%);
$maroon: hsl(349deg 60% 77%);
$red: hsl(342deg 80% 75%);
$peach: hsl(24deg 88% 78%);
$yellow: hsl(41deg 88% 84%);
$green: hsl(128deg 58% 79%);
$teal: hsl(171deg 53% 81%);

/* sidebar text highlight */
$blue: hsl(207deg 93% 79%);
$sky: hsl(189deg 71% 73%);

/* active border */
$lavender: hsl(220deg 38% 89%);

/* base, sign columns */
$black-0: hsl(254deg 25% 10%);

/* surface, x */
$black-1: hsl(249deg 23% 12%);

/* top, background, cursor text, inactive tab background */
$black-2: hsl(240deg 21% 15%);

/* overlay, floating-elements, cursor line */
$black-3: hsl(249deg 18% 22%);

/* searches, inactive border, active tab background */
$black-4: hsl(254deg 12% 36%);

/* subtle, comments */
$gray-0: hsl(247deg 8% 46%);
$gray-1: hsl(274deg 11% 59%);

/* inactive, x */
$gray-2: hsl(285deg 10% 75%);

/* foreground, inactive tab in foreground */
$white: hsl(220deg 38% 89%);
