/* make any changes to colors in base.scss. instead */

/* cursor, urls */
$rosewater: hsl(10deg 56% 91%);
$flamingo: hsl(0deg 59% 88%);
$mauve: hsl(279deg 70% 83%);

/* active tab in foreground */
$pink: hsl(316deg 72% 86%);
$maroon: hsl(349deg 60% 77%);
$red: hsl(342deg 79% 75%);
$peach: hsl(24deg 88% 78%);
$yellow: hsl(41deg 88% 84%);
$green: hsl(128deg 58% 79%);
$teal: hsl(171deg 53% 81%);

/* sidebar text highlight */
$blue: hsl(207deg 93% 79%);
$sky: hsl(189deg 71% 73%);

/* active border */
$lavender: hsl(220deg 38% 89%);

/* base, sign columns */
$black-0: hsl(254deg 25% 10%);

/* surface, x */
$black-1: hsl(249deg 23% 12%);

/* top, background, cursor text, inactive tab background */
$black-2: hsl(240deg 21% 15%);

/* overlay, floating-elements, cursor line */
$black-3: hsl(249deg 18% 22%);

/* searches, inactive border, active tab background */
$black-4: hsl(254deg 12% 36%);

/* subtle, comments */
$gray-0: hsl(247deg 8% 46%);
$gray-1: hsl(274deg 11% 59%);

/* inactive, x */
$gray-2: hsl(285deg 10% 75%);

/* foreground, inactive tab in foreground */
$white: hsl(220deg 38% 89%);
